<ion-content class="ion-padding">
  <div class="header">
    <div class="trademark">
      <img
        class="logo"
        src="../../../assets/img/logo-petrolimex.png"
        alt="Logo"
      />
      <h3 class="petrolimex-text">PETROLIMEX</h3>
    </div>
    <div class="login-cham-diem">
      <ion-button class="btn-login" (click)="goToLogin()">Chấm điểm 5s</ion-button>
    </div>
  </div>
  <div class="content">
    <div class="fuel-price fuel-price--highlight">
      <h2 class="fuel-price__header">Tình hình giá xăng dầu</h2>
      <ion-list class="fuel-price__list" lines="full">
        <ion-item *ngFor="let fuel of fuelPrices">
          <ion-label>
            <h2>{{ fuel.name }}</h2>
            <p>{{ fuel.price | number }} {{ fuel.unit }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="news">
      <h2 class="news__header">Tin tức</h2>
      <ng-container *ngFor="let news of newsList">
        <ion-card>
          <img alt="ảnh" src="assets/img/1.webp" />
          <ion-card-header>
            <ion-card-title>{{ news.title }}</ion-card-title>
            <ion-card-subtitle>{{ news.date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ news.summary }}
          </ion-card-content>
          <div class="btn-card">
            <ion-button fill="clear" (click)="goToDetail(news.id)">Xem thêm</ion-button>
          </div>
        </ion-card>
      </ng-container>
    </div>
  </div>
</ion-content>
