.tab {
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .trademark {
    display: flex;
    align-items: center;

    .petrolimex-text {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #003da5, #f37021);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

ion-content {
  height: 100%;
}

.btn-login {
  background-color: #003da5;
  border-radius: 12px !important;
}

.fuel-price__header {
  color: #003da5;
  font-weight: 600;
  font-size: 21px;
}

.fuel-price__list ion-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fuel-price__list ion-label h2 {
  font-size: 16px;
  font-weight: 600;
  color: #003da5;
  margin: 0;
}

.fuel-price__list ion-label p {
  font-size: 14px;
  color: #333;
  margin: 2px 0 0 0;
}

.news__header {
  color: #003da5;
}

ion-card {
  margin-bottom: 15px;
}

.btn-card {
  display: flex;
  justify-content: end;
  align-items: center;

  ion-button {
    color: #003da5;
  }
}

.card-title {
  font-weight: 400;
  font-size: 1rem;
}


ion-tab-button.active ion-icon,
ion-tab-button.active ion-label {
  color: var(--ion-color-primary);
}

.input-s {
  z-index: 1234;
  position: absolute;
  width: 100%;
  top: 60px;
}

.directions-panel {
  z-index: 1000;
  background-color: #fff;
  padding: 10px;

  .list-md {
    overflow-y: scroll;
    height: 80%;
  }
}

ion-content {
  display: flex;
  flex-direction: column;
}

.directions-panel {
  flex: 1 1 auto;
  /* chiếm phần còn lại */
  overflow-y: scroll;
  /* scroll nếu vượt */
}

::ng-deep .leaflet-routing-container {
  display: none !important;
}

.tab .modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.transparent-modal {
  margin-bottom: 0 !important;
  --backdrop-opacity: 0 !important;
  /* loại bỏ nền mờ */
  // pointer-events: none !important; /* modal không chặn sự kiện */
}

.icon-null {
  font-size: 140px;
  text-align: center;
  opacity: 0.4;
  padding-top: 65px;
}


.icon-share{
  font-size: 140px;
  text-align: center;
  // opacity: 0.6;
  padding-top: 0px;
}
.btn-share{
  // border: blue 2px solid;
  // border-radius: 4px ;
  text-align: center;
  opacity: 0.8;
  // margin: 0 15%;
}

#map {
  touch-action: manipulation; /* hoặc auto */
  -webkit-tap-highlight-color: transparent;
}
