<ion-tabs>
  <div #tabBar id="tabBar" class="">
    <ion-tab-bar #tabBar slot="bottom">
      <ion-tab-button tab="home" (click)="setTab('home')">
        <ion-icon name="home"></ion-icon>
        <ion-label>Trang chủ</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" (click)="setTab('map')">
        <ion-icon name="map"></ion-icon>
        <ion-label>Bản đồ</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="setting" (click)="setTab('setting')">
        <!-- <ion-icon name="golf-outline"></ion-icon> -->
        <ion-icon name="location"></ion-icon>

        <ion-label>Chia sẻ</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>

  <ion-tab tab="home" class="tab">
    <div class="header">
      <div class="trademark">
        <!-- <img class="logo" src="../../../assets/img/logo-petrolimex.png" alt="Logo" /> -->
        <h3 class="petrolimex-text">Tình hình giá xăng dầu</h3>
      </div>

    <div class="d-flex justify-space-between logo-group" style="width: 15%">
      <img (click)="showUrl()" class="logo" src="../../../assets/img/logo.png" alt="Logo" />
    </div>
      <!-- <div class="login-cham-diem">
        <ion-button class="btn-login" (click)="goToLogin()">Chấm điểm 5s</ion-button>
      </div> -->
    </div>
    <div class="content" style="height: 90vh">
      <div class="fuel-price fuel-price--highlight">
        <!-- <h2 class="fuel-price__header">Tình hình giá xăng dầu</h2> -->
        <ion-list class="fuel-price__list" lines="full">
          <ion-item *ngFor="let i of dataTms?.dlg?.dlg1"> <ion-label>
              <h2>{{ i.goodName }}</h2>
              <p>{{ i.col3 | number }} đ/lit</p>
            </ion-label>
          </ion-item> </ion-list>
      </div>
    </div>
  </ion-tab>

  <ion-tab tab="map" class="">
    <div id="map" class="map" style="height: 100vh"></div>
    <ion-modal *ngIf="activeTab == 'map'"  #myModal  id="myModal" (didDismiss)="onModalDismiss()"
      [cssClass]="[isLstS ? 'transparent-modal' : '']" trigger="open-modal" [isOpen]="true"
      [initialBreakpoint]="0.08" [breakpoints]="[0.08, 0.5, 0.75, 0.9]" [backdropDismiss]="true"
      [expandToScroll]="false" [backdropBreakpoint]="0.5">
      <ng-template>
        <ion-content>

          <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"
            (click)="onSearchbarClick()"></ion-searchbar>

          <ion-list class="input-s" *ngIf="isLstS">
            @for (result of lstAddress; track result) {
            <ion-item>
              <ion-label (click)="setDestination(result.latitude, result.longitude)">{{ result.displayName
                }}</ion-label>
            </ion-item>
            }
          </ion-list>

          <ng-container class="directions-panel" *ngIf="directions && directions.length; else noDirections">
            <ion-list style="height: 95%; overflow-y: scroll;">
              <ion-item *ngFor="let step of directions">
                <ion-icon [name]="getDirectionIcon(step.modifier)" slot="start"></ion-icon>
                <ion-label>
                  <h3>{{ step.text }}</h3>
                  <p>{{ step.distance | number:'1.0-0' }} m</p>
                </ion-label>
              </ion-item>
              <br>
              <!-- <br>
              <br>
              <br>
              <br> -->
            </ion-list>
          </ng-container>

          <ng-template #noDirections>
            <div class="icon-null" #noDirections>
              <ion-icon name="golf-outline"></ion-icon>
              <h3>Tìm kiếm điểm đến..</h3>
            </div>
          </ng-template>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-tab>

  <ion-tab tab="setting" class="tab">
    <div class="ion-page" #page>
      <ion-content>
        <div class="header">
          <div class="trademark">
            <h3 class="petrolimex-text">Chia sẻ trạm xăng</h3>
          </div>
        </div>
        <div class="btn-add-map">

          <div class="btn-share">
            <ion-button (click)="isModalShare = true" expand="full">
              <!-- <ion-icon name="arrow-undo-outline"></ion-icon> -->
              <ion-icon name="location-outline"></ion-icon>
              Chia sẻ vị trí trạm xăng
            </ion-button>
            <!-- <div class="icon-share">
              <ion-icon name="location-outline"></ion-icon>
            </div> -->
          </div>


          <ng-container class="directions-panel" *ngIf="lstMapShare && lstMapShare.length; else noDirections">
            <ion-list style="height: 95%; overflow-y: scroll;">
              <ion-item *ngFor="let map of lstMapShare">
                <ion-icon class="c-purple" slot="start" name="golf-outline"></ion-icon>
                <ion-label>
                  <h3>{{ map.name }}</h3>
                  <p>{{ map.kinhDo }}, {{ map.viDo }}</p>
                </ion-label>
              </ion-item>
              <br>
              <!-- <br>
              <br>
              <br>
              <br> -->
            </ion-list>
          </ng-container>

          <ng-template #noDirections>
            <div class="icon-null" #noDirections>
              <ion-icon name="file-tray-full-outline"></ion-icon>
              <!-- <ion-icon name="golf-outline"></ion-icon> -->
              <h3>Không có trạm xăng nào được chia sẻ</h3>
            </div>
          </ng-template>

        </div>

        <ion-modal #modal [isOpen]="isModalShare" trigger="open-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>
                  <ion-icon name="locate-outline"></ion-icon>
                  CHIA SẺ TRẠM XĂNG</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="closeModalShare()"><ion-icon name="close-outline"></ion-icon></ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content>
              <ion-list>
                <ion-item>
                  <ion-input label="Tên trạm xăng" labelPlacement="stacked" [clearInput]="true"
                    placeholder="Nhập tên trạm xăng" [(ngModel)]="dataInsert.name">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Địa chỉ" labelPlacement="stacked" [clearInput]="true" placeholder="Nhập địa chỉ"
                    [(ngModel)]="dataInsert.address">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Mô tả" labelPlacement="stacked" [clearInput]="true" placeholder="Nhập mô tả"
                    [(ngModel)]="dataInsert.description">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-chip style="width: 100%;" (click)="openSelectMap()">
                    <ion-icon name="pin"></ion-icon>
                    <ion-label>Chọn trên Map</ion-label>
                    <!-- <ion-icon name="close"></ion-icon> -->
                  </ion-chip>
                </ion-item>
                <ion-item *ngIf="isMap2">
                  <div id="map2" class="map2" style="height: 50vh; width: 100vw;"></div>
                </ion-item>
                <ion-item>
                  <ion-input disabled="true" label="Kinh độ" labelPlacement="stacked" [clearInput]="true"
                    placeholder="Nhập kinh độ" [(ngModel)]="dataInsert.kinhDo">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Vĩ độ" disabled="true" labelPlacement="stacked" [clearInput]="true"
                    placeholder="Nhập vĩ độ" [(ngModel)]="dataInsert.viDo">
                  </ion-input>
                </ion-item>

                <ion-button expand="full" (click)="insertMap()">
                  <ion-icon name="checkmark-outline"></ion-icon>
                  Chia sẻ
                  <!-- <ion-icon name="arrow-redo-outline"></ion-icon> -->
                </ion-button>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-content>
    </div>

  </ion-tab>
</ion-tabs>
