::ng-deep ion-item.item.md.item-lines-default {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.btn-submit {
  width: 100%;
}
.text-head {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.text-error {
  color: red;
}
ion-input {
  --padding-end: 15px;
  --padding-start: 15px;
}
