<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
      <ion-back-button></ion-back-button> Quay lại
    </ion-button>
    <ion-title class="t-center"> Đổi mật khẩu </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <h1 class="text-head">Nhập mật khẩu mới</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="input-form">
      <ion-item>
        <ion-input type="password" fill="outline" placeholder="Nhập mật khẩu cũ" formControlName="oldPassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
        <div class="text-error" *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched" class="error-message">
          <span class="text-error" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">Không được để trống.</span>
        </div>
      <ion-item>
        <ion-input type="password" fill="outline" placeholder="Nhập mật khẩu mới" formControlName="newPassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
       <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="error-message">
          <span class="text-error" *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Không được để trống.</span>
        </div>
      <ion-item>
        <ion-input type="password" fill="outline" placeholder="Nhập lại mật khẩu mới" formControlName="confirmNewPassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
       
      </ion-item>
       <div *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid && changePasswordForm.get('confirmNewPassword')?.touched" class="error-message">
          <span class="text-error" *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['required']">Không được để trống.</span>
          <span class="text-error" *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['mismatch']">Không khớp với mật khẩu mới.</span>
        </div>
    </div>
    <ion-button type="submit" class="btn-submit" expand="block">Cập nhật mật khẩu mới</ion-button>
  </form>
</ion-content>