nz-header {
  display: flex;
  gap: 24px;
}

nz-header>div {
  cursor: pointer;
}

.inner-content {
  background: white;
  height: calc(100vh - 76px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 6px;
}

.ant-layout-header {
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 0 12px;
}

.logo {
  margin: 0 12px;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.full-name {
  margin-left: 6px;
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  height: 36px;
  width: auto;
}

nz-breadcrumb {
  margin: 12px 24px;
}
