<ion-button color="dark" fill="clear" id="open-modal">
  <ion-icon name="filter-outline"></ion-icon>
</ion-button>
<ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="center-style">Bộ lọc</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="filterForm">
        <ion-select
          formControlName="selectedMonth"
          label="Chọn kỳ thời gian"
          label-placement="floating"
        >
          <ion-select-option value="1">Tháng 6</ion-select-option>
          <ion-select-option value="2">Tháng 7</ion-select-option>
          <ion-select-option value="3">Tháng 8</ion-select-option>
        </ion-select>
        <ion-select
          formControlName="selectedStore"
          label="Chọn cửa hàng"
          label-placement="floating"
        >
          <ion-select-option value="1">PETROLIMEX-1</ion-select-option>
          <ion-select-option value="2">PETROLIMEX-2</ion-select-option>
          <ion-select-option value="3">PETROLIMEX-3</ion-select-option>
        </ion-select>
        <ion-select
          formControlName="selectedPerson"
          label="Chọn người chấm"
          label-placement="floating"
        >
          <ion-select-option value="1">Nguyễn Văn A </ion-select-option>
          <ion-select-option value="2">Nguyễn Văn B</ion-select-option>
          <ion-select-option value="3">Nguyễn Văn C</ion-select-option>
        </ion-select>
        <ion-checkbox formControlName="storeChecked" labelPlacement="end"
          >Cửa hàng tôi chấm</ion-checkbox
        >
        <ion-checkbox formControlName="storeUnchecked" labelPlacement="end"
          >Cửa hàng chưa chấm</ion-checkbox
        >
        <div style="display: flex">
          <ion-button style="flex: 0 0 80%" (click)="applyFilter()"
            >Xác nhận</ion-button
          >
          <ion-button style="flex: 1" (click)="resetFilters()"
            >Reset</ion-button
          >
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
