<ion-accordion-group [multiple]="true" style="margin: 5px;">

  <ng-template #recursive let-nodes>
    <ng-container *ngFor="let node of nodes">
      <ion-accordion [value]="node.key">

        <ion-item slot="header" color="light">
          <ion-label>{{ node.title }}</ion-label>
        </ion-item>

        <div style="padding: 5px 0;" slot="content">

          <ng-container *ngIf="node.isGroup == true; else Child">
            <ng-container *ngTemplateOutlet="recursive; context: { $implicit: node.children }"></ng-container>
          </ng-container>

          <ng-template #Child>
            <div class="ion-padding" slot="content">
              <ng-container *ngIf="node.isImg">
                <label style="color: orange;">[Chú ý: Tối thiểu 1 ảnh]</label>
                <p style="color: red;">(*) Tiêu chí này bắt buộc chọn 1 hình ảnh</p>
              </ng-container>

              <ion-radio-group value="diem">
                <ng-container *ngFor="let diem of node.diemTieuChi">
                  <ion-item>
                    <ion-radio value="diem" labelPlacement="end">{{ diem.moTa }}</ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>

              <label>
                {{ node.title }}
              </label>
            </div>
          </ng-template>
        </div>


      </ion-accordion>
    </ng-container>
  </ng-template>

  <!-- Bắt đầu render từ gốc -->
  <ng-container *ngTemplateOutlet="recursive; context: { $implicit: treeData }"></ng-container>

</ion-accordion-group>
