<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>

    <ion-title class="t-center">Chi tiết chấm điểm </ion-title>
    <ion-button (click)="openSearchInput()" slot="end" fill="clear" color="dark" style="
        --padding: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
      ">
      <ion-icon name="search-outline" style="font-size: 25px"></ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <ion-menu-button (click)="openMenu()">
        <ion-icon name="list-outline" style="font-size: 25px"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="isSearchVisible" style="margin: 10px; display: flex; flex-direction: column; gap: 5px">
  <ion-input label="Tìm kiếm" fill="outline" placeholder="Nhập từ tìm kiếm" [(ngModel)]="searchKeyword"
    (ionInput)="onSearchChange()"></ion-input>
  <div class="result-search" *ngIf="searchKeyword.trim() !== ''">
    <span style="padding: 0px 10px; width: 70%">{{ currentIndex + 1 }} of {{ searchResults.length }}</span>
    <div class="btn-group">
      <ion-button (click)="goPrev()" [disabled]="currentIndex === 0"><ion-icon
          name="chevron-up-outline"></ion-icon></ion-button>
      <ion-button (click)="goNext()" [disabled]="currentIndex === searchResults.length - 1"><ion-icon
          name="chevron-down-outline"></ion-icon></ion-button>
    </div>
  </div>
</div>

<ion-content>
  <ion-accordion-group [multiple]="true" style="margin: 5px" [value]="lstTreeOpen">
    <ng-template #recursive let-nodes>
      <ng-container *ngFor="let node of nodes; trackBy: trackByKey">
        <ion-accordion [value]="node.key" [ngClass]="{ 'border-link': node.id === selectedAccordionId }">
          <ion-item slot="header" color="light" id="{{ node.id }}">
            <ion-label [innerHTML]="node.number ?  node.number + ' - '+ node.title : node.title | highlightSearch : searchKeyword"></ion-label>
          </ion-item>

          <div style="padding: 5px 0" slot="content">
            <ng-container *ngIf="node.isGroup; else Child">
              <ng-container *ngTemplateOutlet="
                  recursive;
                  context: { $implicit: node.children }
                "></ng-container>
            </ng-container>

            <ng-template #Child>
              <div class="ion-padding" slot="content">
                <p style="color: red; margin: 0">
                  <ion-radio-group [value]="filterDiem(node.code)" (ionChange)="setDiem(node, $event)">
                    <ng-container *ngFor="let diem of node.diemTieuChi; trackBy: trackByKey">
                      <ion-item>
                        <ion-label>{{ diem.moTa }}</ion-label>
                        <ion-radio slot="end" [value]="diem.id" [disabled]="!isEdit"></ion-radio>
                      </ion-item>
                    </ng-container>
                  </ion-radio-group>
                  <ion-item lines="none" class="custom-input-box" style="
                      border-radius: 4px;
                      border: 1px solid #d7d7d7;
                      margin-top: 10px;
                    ">
                    <ng-container *ngFor="let i of evaluate?.lstEvaluate; trackBy: trackByKey">
                      <ion-textarea *ngIf="i.tieuChiCode == node.code" [disabled]="!isEdit" placeholder="Ý kiến đề xuất"
                        autoGrow="true" [(ngModel)]="i.feedBack" class="textarea" >
                      </ion-textarea>
                    </ng-container>

                    <ion-buttons slot="end">
                      <input [disabled]="!isEdit" class="file" #fileInput type="file"
                        (change)="onImageSelected($event, node.code)"
                        accept="image/*,video/*,.pdf,.doc,.docx,.xlsx,.txt" />
                      <ion-button fill="clear" [disabled]="!isEdit">
                        <ion-icon name="document-outline" slot="icon-only"></ion-icon>
                      </ion-button>

                      <ion-button fill="clear" [disabled]="!isEdit" style="z-index: 1000000;"
                        (click)="openCamera(node.code)">
                        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </p>

                <div *ngIf="node.isImg" style="margin-top: 10px">
                  <label style="color: orange">[Chú ý: Tối thiểu {{ node.numberImg }} ảnh]</label>
                  <p *ngIf="hasEnoughImages(node.code, node)" style="color: red">
                    (*) Tiêu chí này bắt buộc chọn {{ node.numberImg }} hình ảnh
                  </p>
                </div>

                <div *ngIf="!node.isGroup && filterImage(node)?.images.length > 0" class="images-container">
                  <div class="images-wrapper" *ngFor="
                      let img of filterImage(node)?.images;
                      trackBy: trackByKey
                    ">
                    <ion-img *ngIf="img.type == 'img'" [src]="filePath(img.pathThumbnail)" class="image-preview"
                      (click)="openFullScreen(img)"></ion-img>

                    <video *ngIf="img.type == 'mp4'" [src]="filePath(img.filePath)" class="image-preview"
                      (click)="openFullScreen(img)" controls style="max-width: 100%"></video>

                    <div style="opacity: 0.5; text-align: center; font-size: 13px;">
                      {{ img.createDate | date: 'HH:mm dd/MM/yyyy' }}
                    </div>

                    <ion-button *ngIf="isEdit" fill="clear" class="delete-btn" size="small" (click)="deleteImage2(img)">
                      <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </div>

                <!-- Hiển thị tài liệu -->
                <div *ngIf="
                    !node.isGroup && filterImage(node)?.documents.length > 0
                  " class="file-wrapper d-flex" style="width: 100vw">
                  <div class="image-preview" *ngFor="
                      let doc of filterImage(node)?.documents;
                      trackBy: trackByKey
                    " style="height: 50px; width: 100vw">
                    <div class="file-preview">
                      <ion-chip style="width: 90vw">
                        <ion-icon name="document-outline" size="large"></ion-icon>

                        <ion-label>
                          <a [href]="filePath(doc.filePath)" target="_blank" download>
                            {{ doc.fileName }}
                          </a>
                        </ion-label>

                        <ion-button fill="clear" class="delete-btn" size="small" (click)="deleteImage2(doc)">
                          <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                        </ion-button>

                        <div style="
                            opacity: 0.5;
                            text-align: center;
                            margin: 0 10px;
                          ">
                          {{ doc.createDate | date: 'dd/MM/yyyy' }}
                        </div>
                      </ion-chip>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <!-- </div> -->
        </ion-accordion>
      </ng-container>
    </ng-template>

    <ng-container *ngTemplateOutlet="recursive; context: { $implicit: treeData }"></ng-container>
  </ion-accordion-group>
</ion-content>

<!-- <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar> -->
<ion-footer class="d-flex" style="height: 60px; justify-content: space-around" *ngIf="isEdit">
  <ion-button fill="clear" color="dark" expand="full" style="width: auto; font-weight: 700">
    <p style="margin-right: 5px">Lưu</p>
    <ion-icon name="save-outline"></ion-icon>
  </ion-button>

  <ion-chip color="tertiary" (click)="onSubmit()" style="width: 15vh; justify-content: center">
    <p style="font-weight: 600">NỘP</p>
    <ion-icon name="paper-plane-outline"></ion-icon>
  </ion-chip>
</ion-footer>

<ion-menu side="end" contentId="main-content" [style.--width]="'85%'">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col size="6" style="display: flex; align-items: center"><span style="background-color: green"
                class="circle"></span><span class="font-12">Đang chọn</span></ion-col>
            <ion-col size="6" style="display: flex; align-items: center"><span
                style="background-color: rgb(220, 220, 220)" class="circle"></span><span class="font-12">Chưa trả
                lời</span></ion-col>
            <ion-col size="6" style="display: flex; align-items: center"><span style="background-color: #1890ff"
                class="circle"></span><span class="font-12">Đã trả lời</span></ion-col>
            <ion-col size="6" style="display: flex; align-items: center"><span style="background-color: #ff4d4f"
                class="circle"></span><span class="font-12">Không đạt</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div style="gap: 10px; display: flex; flex-wrap: wrap" class="div-dem">
      <a style="padding-left: 5px; width: 35px; height: 35px"
        *ngFor="let item of lstTieuChi; trackBy: trackByKey ; let i = index" class="custom-button"
        [ngClass]="{ 'active-link': isActive(item.id),  }" [class]="isAnswered(item)" (click)="setItem(item.id)">
        {{ i + 1 }}
      </a>
    </div>
  </ion-content>
  <ion-footer>
    <!-- <ion-item> -->
    <ion-list>
      <ion-item>
        <ion-label style="margin: 0; display: block; line-height: 1.2">Người chấm</ion-label>
        <ion-label style="margin: 0; display: block; line-height: 1.2">{{ isEdit ? account.fullName :
          getFullName(evaluate.header.accoutUserName) }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Lần chấm thứ 2</ion-label>
        <ion-label>{{ isEdit ? (dateNow | date: 'HH:mm dd/MM/yyyy') : (evaluate.header.updateDate | date: 'HH:mm
          dd/MM/yyyy') }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tổng</ion-label>
        <ion-label>{{lstTieuChi.length}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Đã chấm</ion-label>
        <ion-label>{{ daCham }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Chưa chấm</ion-label>
        <ion-label>{{ chuaCham }}</ion-label>
      </ion-item>
    </ion-list>
    <!-- </ion-item> -->
  </ion-footer>
  <!-- </div> -->
</ion-menu>

<ion-modal [isOpen]="isImageModalOpen" (didDismiss)="isImageModalOpen = false">
  <ng-template>
    <ion-content class="full-image-content" (click)="closeFullScreen()">
      <ion-button class="delete-button" fill="clear" color="danger" *ngIf="isEdit" (click)="confirmDeleteImage()">
        <ion-icon name="trash-outline" slot="end"></ion-icon>
      </ion-button>
      <div *ngIf="selectedImage.type == 'img'">
        <img [src]="selectedImage.filePath" class="full-image" />
        <div id="map" style="height: 400px"></div>
      </div>
      <video *ngIf="selectedImage.type == 'mp4'" class="full-image" [src]="selectedImage.filePath" controls
        style="max-width: 100%"></video>
    </ion-content>
  </ng-template>
</ion-modal>
