.full-image {
  width: 100%;
  max-width: 50vh;
  max-height: 60vh !important;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.full-image-content {
  --background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;

  .btnLeft {
    background-color: #fff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 1000;

  }

  .btnRight {

    background-color: #fff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1000;
  }

  // .delete-button {
  //   position: absolute;
  //   top: 20px;
  //   right: 20px;
  //   z-index: 1000;
  //   font-size: 24px;
  // }
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .full-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

}

.search {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    --padding-end: 10px;
    --padding-start: 10px;
  }

  span {
    padding: 0px 10px;
    width: 70%;
  }
}

::ng-deep .native-wrapper.sc-ion-textarea-md textarea.sc-ion-textarea-md {
  padding-top: 10px;
  height: 34px;
}

::ng-deep .textarea-wrapper.sc-ion-textarea-ios textarea.sc-ion-textarea-ios {
  padding: 17px 0px 0px;
}

.custom-input-box {

  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin-top: 10px;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.font-12 {
  font-size: 12px;
}

.custom-button {
  border: gray solid 1px;
  // background-color: grey;
  color: gray;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.active-link {
  border: #d7d7d7 solid 1px;
  background-color: #2dd55b !important;
  color: white;
}

.answered {
  border: #d7d7d7 solid 1px;

  background-color: #1890ff;
  color: white;
}

.red-false {
  border: #d7d7d7 solid 1px;
  background-color: #ff4d4f;
  color: white;
}

.border-link {
  border: 2px solid #5f4b8b;
  border-radius: 5px;
}

.pd-10 {
  // border: 1px solid;
  // border-radius: 50%;
  height: 30px;
  // width: 10px;
  display: flex;
  padding-right: 10px;
  // justify-content: center;
  // align-items: center;
}

.images-wrapper {
  position: relative;
  display: inline-block;
  margin: 3px;

  .image-preview {
    padding: 5px;
    width: 29vw;
    height: 29vw;
    border-radius: 8px;
    object-fit: cover;
  }

  .delete-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 10;
    color: rgba(0, 0, 0, 0.468);
    font-size: 18px;
  }
}

.delete-btn-file {
  // position: absolute;
  // top: -6px;
  // right: -6px;
  // margin-right: 10px;
  z-index: 10;
  color: rgba(0, 0, 0, 0.468);
  font-size: 18px;
}

.file-wrapper {
  position: relative;
  display: inline-block;
  // margin: 3px;

  .image-preview {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
  }

  ion-chip.md.ion-activatable {
    .delete-btn {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 1000;
      color: rgba(0, 0, 0, 0.468);
      font-size: 18px;
    }
  }
}

.ion-paddingg {
  padding: 5px !important;

  .div-dem {
    gap: 10px;
    display: flex;
    flex-wrap: wrap
  }

  a {
    padding-left: 5px;
    width: 35px;
    height: 35px
  }
}

.ion-padding {
  padding: 5px !important;


  a {
    padding-left: 5px;
    width: 100%;
    // height: 20px
  }
}

.file {
  position: absolute;
  width: 44px;
  z-index: 100;
  opacity: 0;
}

.image-item {
  flex-direction: row;
  width: 100%;
}

.result-search {
  height: 50px;
  border-radius: 4px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
}

.btn-group {
  border-left: 1px solid blue;
  height: 100%;
  width: 30%;
  display: flex;

  ion-button {
    width: 100%;
    --background: #f1f1f1;
    --box-shadow: none;
    --color: #000;
  }
}

.highlight-search {
  background-color: yellow;
  font-weight: bold;
}

//css zoom
.zoom-wrapper {
  width: 100%;
  height: calc(100vh - 425px);
  /* trừ phần map */
  overflow: auto;
  /* 👈 Cho phép scroll/pan */
  touch-action: auto;
  /* 👈 Cho phép kéo bằng cảm ứng */
  -webkit-overflow-scrolling: touch;
  /* Cho mượt trên iOS */
}

.full-image-container {
  position: relative;
  /* ✅ Cho phép translate */
  overflow: hidden;
  /* ✅ Ẩn phần ngoài khi kéo */
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  touch-action: none;
  /* ✅ Tránh zoom/pan mặc định trên di động */
}

.full-image {
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: zoom-in;
  user-select: none;
  pointer-events: all;
  will-change: transform;
}

.full-image.zoomed {
  cursor: grab;
}

.file-preview {
  // width: 93vw;

  .chip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: 8px;
    background: #f5f5f5;
    margin: 5px 0;
  }

  .icon {
    margin: 0 2px;
    color: #3c3c3c
  }

  .fileName {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date {
    font-size: 12px;
    opacity: 0.6;
    margin-top: 2px;
    margin-left: 5px;
  }
}
