.full-image {
  width: 100%;
  max-width: 50vh;
  max-height: 60vh !important;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.full-image-content {
  --background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;

  .btnLeft {
    background-color: #fff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 1000;

  }

  .btnRight {

    background-color: #fff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1000;
  }

  // .delete-button {
  //   position: absolute;
  //   top: 20px;
  //   right: 20px;
  //   z-index: 1000;
  //   font-size: 24px;
  // }
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .full-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

}

.search {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    --padding-end: 10px;
    --padding-start: 10px;
  }

  span {
    padding: 0px 10px;
    width: 70%;
  }
}

::ng-deep .native-wrapper.sc-ion-textarea-md textarea.sc-ion-textarea-md {
  padding-top: 10px;
  height: 34px;
}

::ng-deep .textarea-wrapper.sc-ion-textarea-ios textarea.sc-ion-textarea-ios {
  padding: 17px 0px 0px;
}

.custom-input-box {

  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin-top: 10px;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.font-12 {
  font-size: 12px;
}

.custom-button {
  border: gray solid 1px;
  // background-color: grey;
  color: gray;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.active-link {
  border: #d7d7d7 solid 1px;
  background-color: #2dd55b !important;
  color: white;
}

.answered {
  border: #d7d7d7 solid 1px;

  background-color: #1890ff;
  color: white;
}

.red-false {
  border: #d7d7d7 solid 1px;
  background-color: #ff4d4f;
  color: white;
}

.border-link {
  border: 2px solid #5f4b8b;
  border-radius: 5px;
}

.images-wrapper {
  position: relative;
  display: inline-block;
  margin: 3px;

  .image-preview {
    padding: 5px;
    width: 29vw;
    height: 29vw;
    border-radius: 8px;
    object-fit: cover;
  }

  .delete-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 10;
    color: rgba(0, 0, 0, 0.468);
    font-size: 18px;
  }
}

.delete-btn-file {
  // position: absolute;
  // top: -6px;
  // right: -6px;
  // margin-right: 10px;
  z-index: 10;
  color: rgba(0, 0, 0, 0.468);
  font-size: 18px;
}

.file-wrapper {
  position: relative;
  display: inline-block;
  // margin: 3px;

  .image-preview {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
  }

  ion-chip.md.ion-activatable {
    .delete-btn {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 1000;
      color: rgba(0, 0, 0, 0.468);
      font-size: 18px;
    }
  }
}

.ion-paddingg {
  padding: 5px !important;

  .div-dem {
    gap: 10px;
    display: flex;
    flex-wrap: wrap
  }

  a {
    padding-left: 5px;
    width: 35px;
    height: 35px
  }
}

.ion-padding {
  padding: 5px !important;


  a {
    padding-left: 5px;
    width: 100%;
    // height: 20px
  }
}

.file {
  position: absolute;
  width: 44px;
  z-index: 100;
  opacity: 0;
}

.image-item {
  flex-direction: row;
  width: 100%;
}

.result-search {
  height: 50px;
  border-radius: 4px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
}

.btn-group {
  border-left: 1px solid blue;
  height: 100%;
  width: 30%;
  display: flex;

  ion-button {
    width: 100%;
    --background: #f1f1f1;
    --box-shadow: none;
    --color: #000;
  }
}

.highlight-search {
  background-color: yellow;
  font-weight: bold;
}




ion-modal {
  --width: 100vw !important;
  // --height: 100vh !important;
  --border-radius: 0 !important;
}

/* FULL overlay */
.image-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nút cố định */
.overlay-buttons {
  position: fixed;
  top: 25px;
  right: 10px;
  display: flex;
  gap: 12px;
  z-index: 1000000000;
  
  width: 95%;
  justify-content: space-between;
  ion-button{
    background: rgba(255, 255, 255, 0.9);
    color: #000;
  }
}
.bg-red {
  color: #F32013;
  background: #FFE2DE;
}
.bg-blue {
  background: #DCECCF;
  color: #0000FF;
}

ion-item {
  --background: transparent !important;  // ⭐ Không đè nền div
}

.full-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    z-index: 10000000;

  }
}

.full-image {
  max-width: 100%;
  max-height: 100%;
  transform-origin: center center;
}