<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title class="t-center"> Điều khoản và chính sách </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <h4>1. Mục đích và phạm vi thu thập</h4>
    Việc thu thập dữ liệu trên ứng dụng Khảo sát 5S chủ yếu bao gồm: email, số
    điện thoại, tên đăng nhập và mật khẩu. Đây là những thông tin bắt buộc người
    dùng phải cung cấp để D2S có thể liên hệ, xác minh danh tính và đảm bảo
    quyền lợi của người dùng. Người dùng hoàn toàn chịu trách nhiệm về việc bảo
    mật và lưu giữ thông tin tài khoản của mình. Trong trường hợp phát hiện hành
    vi truy cập trái phép, lạm dụng hoặc vi phạm bảo mật, người dùng cần thông
    báo ngay cho D2S để có biện pháp xử lý phù hợp.
  </div>
  <div>
    <h4>2. Phạm vi sử dụng thông tin</h4>
    <ul style="list-style-type: none">
      Thông tin cá nhân được thu thập sẽ được D2S sử dụng để:
      <li>Cung cấp các dịch vụ cho người dùng</li>
      <li>Gửi thông báo về các hoạt động khảo sát</li>
      <li>Liên lạc khi cần thiết trong các trường hợp đặc biệt</li>
      <li>
        Trong trường hợp có yêu cầu từ cơ quan pháp luật như: Viện kiểm sát, tòa
        án, công an,… D2S có trách nhiệm hợp tác và cung cấp thông tin theo quy
        định pháp luật. Ngoài ra, không cá nhân hay tổ chức nào được xâm phạm
        trái phép dữ liệu cá nhân của người dùng.
      </li>
      <li></li>
    </ul>
  </div>
  <div>
    <h4>3. Thời gian lưu trữ thông tin</h4>
    Thông tin cá nhân sẽ được lưu trữ cho đến khi: • Người dùng yêu cầu hủy bỏ;
    • Người dùng tự xóa thông tin sau khi đăng nhập. Nếu không có yêu cầu từ
    người dùng, dữ liệu sẽ được lưu trữ lâu dài trong môi trường an toàn tại máy
    chủ được bảo mật nghiêm ngặt của D2S.
  </div>

  <div>
    <h4>4. Địa chỉ đơn vị thu thập và quản lý thông tin cá nhân</h4>
    <ul style="list-style-type: none">
      <li>
        Văn phòng giao dịch: Tầng 23, tòa Tasco, Phạm Hùng, Mễ Trì Hạ, Từ Liêm,
        Hà Nội
      </li>
      <li>
        Trung tâm R&D: Tòa D’Office, 28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội
      </li>
      <li>Điện thoại: 0973 689 983</li>
      <li>Email: info&#64;d2s.com.vn</li>
    </ul>
  </div>
  <div>
    <h4>5. Quyền của người dùng trong việc tiếp cận và chỉnh sửa dữ liệu</h4>
    <ul style="list-style-type: none">
      Người dùng có thể tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin
      cá nhân của mình bằng cách:
      <li>Đăng nhập tài khoản để chỉnh sửa thông tin</li>
      <li>
        Hoặc gửi yêu cầu đến D2S để hỗ trợ. Ngoài ra, người dùng có quyền khiếu
        nại nếu có dấu hiệu lộ thông tin cá nhân. D2S có trách nhiệm xác minh,
        hướng dẫn và phản hồi cụ thể cho người dùng.
      </li>
    </ul>
  </div>

  <div>
    <h4>
      6. Cam kết bảo mật thông tin cá nhân D2S cam kết bảo mật tuyệt đối thông
      tin cá nhân của người dùng.
    </h4>
    Việc thu thập và sử dụng dữ liệu chỉ được thực hiện khi có sự đồng ý từ
    người dùng, trừ trường hợp pháp luật có quy định khác. Thông tin không được
    tiết lộ, chuyển giao cho bên thứ ba nếu không có sự cho phép. Trường hợp máy
    chủ bị tấn công gây mất dữ liệu, D2S sẽ thông báo và phối hợp với cơ quan
    chức năng xử lý kịp thời.
  </div>
  <div>
    <h4>7. Cơ chế tiếp nhận và xử lý khiếu nại</h4>
    <ul style="list-style-type: none">
      <li>
        Người dùng có thể gửi khiếu nại liên quan đến việc lộ thông tin cá nhân
        cho bên thứ ba đến Ban quản trị D2S qua:
        Email: info&#64;d2s.com.vn
      </li>
      <li>
        Hoặc gửi thư đến địa chỉ công ty. D2S có trách nhiệm xác minh, điều tra
        và phản hồi trong vòng 15 ngày kể từ khi nhận được phản ánh.
      </li>
    </ul>
  </div>
</ion-content>
