<!-- <div class="login">
    <div class="login-form"> -->
<!-- <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input placeholder="Tên đăng nhập" [(ngModel)]="model.userName" (keydown.enter)="processLogin()"/>
        </nz-input-group>
        <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input placeholder="Mật khẩu"  [(ngModel)]="model.password" (keydown.enter)="processLogin()"/>
        </nz-input-group>
        <button nz-button class="btn-login" [nzType]="'primary'" (click)="processLogin()">Đăng nhập</button> -->
<!-- </div>
</div> -->
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
    </ion-button>
    <ion-title class="t-center"> Chấm điểm 5S cửa hàng </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; height: 35vh;">
    <img src="../../../assets/img/logo.png" alt="Logo" style="height: 20vh;">
  </div>

  <ion-accordion-group class="form-login">
    <ion-item>
      <ion-icon name="person-outline" style="padding-right: 7px;"></ion-icon>
      <ion-input color="dark" label="Tài khoản" labelPlacement="stacked" labelPlacement="floating" [clearInput]="true"
        placeholder="" [(ngModel)]="model.userName">
      </ion-input>
    </ion-item>
  </ion-accordion-group>

  <ion-accordion-group class="form-login"><ion-item>
      <ion-icon name="lock-closed-outline" style="padding-right: 7px;"></ion-icon>
      <ion-input [type]="showPassword ? 'text' : 'password'" label="Mật khẩu" labelPlacement="floating" placeholder=""
        [(ngModel)]="model.password"></ion-input>
      <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" slot="end" class="password-toggle-icon"
        (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
  </ion-accordion-group>

  <ion-accordion-group class="check-box">
    <ion-checkbox [(ngModel)]="saveAccount" labelPlacement="end">Ghi nhớ</ion-checkbox>
    <a href="">Quên mật khẩu</a>
  </ion-accordion-group>

  <div style="display: flex; height: 60px; gap: 15px; margin: 15px">
    <ion-button expand="full" (click)="processLogin()" style="width: 100vh; font-weight: 700">Đăng nhập</ion-button>
  </div>

  <ion-footer class="" style="text-align: center; bottom: 10px; position: absolute;">
    © 2025 d2s.com.vn
  </ion-footer>
</ion-content>
