<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <h4 class="t-center"><ion-icon name="notifications-outline"></ion-icon> Thông báo</h4>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-notifications"  >

    <div class="noti-item" *ngFor="let noti of lstData">
      <div class="noti-title">{{ noti.title }}</div>
      <i class="noti-content">{{ noti.body }}</i>
      <i class="noti-time">{{ noti.createDate | date : "HH:mm dd/MM/yyyy"}}</i>
    </div>
  </div>
</ion-content>
