<ion-content>
  <div class="main-notifications">
    <h4><ion-icon name="notifications-outline"></ion-icon>Thông báo</h4>

    <div class="noti-item">
      <div class="noti-title">Thông báo</div>
      <div class="noti-content">Kỳ thời gian tháng 5 năm 2024 đã được mở</div>
      <div class="noti-time">13:22 07-05-2024</div>
    </div>
    <div class="noti-item">
      <div class="noti-title">Thông báo</div>
      <div class="noti-content">Kỳ thời gian tháng 5 năm 2024 đã được mở</div>
      <div class="noti-time">13:22 07-05-2024</div>
    </div>
    <div class="noti-item">
      <div class="noti-title">Thông báo</div>
      <div class="noti-content">Kỳ thời gian tháng 5 năm 2024 đã được mở</div>
      <div class="noti-time">13:22 07-05-2024</div>
    </div>
    <div class="noti-item">
      <div class="noti-title">Thông báo</div>
      <div class="noti-content">Kỳ thời gian tháng 5 năm 2024 đã được mở</div>
      <div class="noti-time">13:22 07-05-2024</div>
    </div>
    <div class="noti-item">
      <div class="noti-title">Thông báo</div>
      <div class="noti-content">Kỳ thời gian tháng 5 năm 2024 đã được mở</div>
      <div class="noti-time">13:22 07-05-2024</div>
    </div>
    <div class="noti-item">
      <div class="noti-title">Thông báo</div>
      <div class="noti-content">Kỳ thời gian tháng 5 năm 2024 đã được mở</div>
      <div class="noti-time">13:22 07-05-2024</div>
    </div>
  </div>
</ion-content>
