<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title class="t-center"> Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-notifications"  >

    <div class="noti-item" *ngFor="let noti of lstData">
      <div class="noti-title">{{ noti.title }}</div>
      <div class="noti-content">{{ noti.body }}</div>
      <div class="noti-time">{{ noti.createDate | date : "HH:mm dd/MM/yyyy"}}</div>
    </div>
  </div>
</ion-content>
