<ion-content>
  <div class="main-home">
    <h4><ion-icon name="checkbox-outline"></ion-icon>Chấm điểm 5S</h4>
    <img src="assets/img/1.jpg" class="p-5s" />

    <h4><ion-icon name="newspaper-outline"></ion-icon>Tin tức</h4>

    <div class="card-news">
      <img src="assets/img/2.webp" />
      <div class="news-title">Đào tạo sử dụng phần mềm chấm điểm 5S trên thiết bị di động</div>
    </div>

    <div class="card-news">
      <img src="assets/img/3.webp" />
      <div class="news-title">Đào tạo sử dụng phần mềm chấm điểm 5S trên thiết bị di động</div>
    </div>
  </div>
</ion-content>
