
<ion-content [fullscreen]="true" color="light">
  <div class="main-home ">
    <div class="d-flex " style="margin-bottom: 10px;">
      <!-- <div class=""></div> -->
      <img style="width: 40px;" src="../../../assets/img/logo.png" alt="">
      <h4 style="font-size: 20px;
    border-bottom: 1px solid #d7d7d7;
    padding-left: 4px;
    margin: 5px 0;"> Khảo sát</h4>
    </div>
    <ng-container *ngFor="let item of data">
      <h4>
        {{ item.name }}
      </h4>
      <img [src]="item.image == 1 ? 'assets/img/1.jpg' : item.image" class="p-5s" (click)="navigateTo(item)" />

    </ng-container>

  </div>
</ion-content>
