<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="t-center">
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" color="light" >
  <div class="main-home ">
    <div class="d-flex justify-space-between" style="margin-bottom: 10px;">
      <div class=""></div>
      <h4> KHẢO SÁT<img slot="start" style="width: 40px;" src="../../../assets/img/logo.png" alt=""></h4>

    </div>
    <ng-container *ngFor="let item of data">
      <h4>
        <!-- <ion-icon name="checkbox-outline"></ion-icon> -->
        {{ item.name }}</h4>
      <img [src]="item.image == 1 ? 'assets/img/1.jpg' : item.image" class="p-5s" (click)="navigateTo(item)" />

    </ng-container>

    <h4><ion-icon name="newspaper-outline"></ion-icon>Tin tức</h4>

    <div class="card-news" (click)="registerPushNotifications()">
      <img src="assets/img/2.webp" />
      <div class="news-title">Đào tạo sử dụng phần mềm chấm điểm 5S trên thiết bị di động</div>
    </div>

    <div class="card-news" (click)="getDeliveredNotifications()">
      <img src="assets/img/3.webp" />
      <div class="news-title">Đào tạo sử dụng phần mềm chấm điểm 5S trên thiết bị di động</div>
    </div>
  </div>
</ion-content>
