<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="t-center">
      <h4><ion-icon name="person-circle-outline"></ion-icon>Tài khoản</h4>
    </ion-title>
    <ion-button
      color="light"
      (click)="navigateTo('/account/setting-account')"
      slot="end"
      ><ion-icon name="settings-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-list lines="inset">
    <ng-container *ngIf="userInfo">
      <ion-item>
        <h1>Thông tin cơ bản</h1>
      </ion-item>
      <ion-item>
        <div class="line-info">
          <ion-icon
            style="font-size: 25px; color: yellow"
            name="person-outline"
          ></ion-icon>
          <div>{{ userInfo.fullName }}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="line-info">
          <ion-icon
            style="font-size: 25px; color: green"
            name="call-outline"
          ></ion-icon>
          <div>{{ userInfo.phoneNumber }}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="line-info">
          <ion-icon
            style="font-size: 25px; color: blue"
            name="mail-outline"
          ></ion-icon>
          <div>{{ userInfo.email }}</div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-list
    style="
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    "
    (click)="navigateTo('/account/terms-and-polices')"
  >
    <ion-icon
      style="font-size: 25px; margin-right: 5px"
      slot="start"
      name="shield-half"
    ></ion-icon>
    Điều khoản và chính sách
  </ion-list>
  <ion-list
    style="
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;
    "
    (click)="Logout()"
  >
    <ion-icon
      style="font-size: 25px; margin-right: 5px"
      slot="start"
      name="log-out"
    ></ion-icon>
    Đăng xuất
  </ion-list>
</ion-content>
