<ion-content color="light">
  <div
    class="d-flex justify-space-between"
    style="margin-bottom: 10px; margin-left: 10px"
  >
    <h4 class="w-600" style="font-size: 20px">Tài khoản</h4>
    <ion-button
      fill="clear"
      color="dark"
      (click)="navigateTo('/account/setting-account')"
      class="custom-color"
      slot="end"
      ><ion-icon name="settings"></ion-icon
    ></ion-button>
  </div>
  <div style="padding: 0px 15px">
  <ion-list lines="inset" style="border-radius: 8px;" class="custom-icon">
    <ng-container *ngIf="userInfo">
      <!-- <h3 class="text-head">Thông tin cơ bản</h3> -->
      <ion-item>
        <ion-icon
          style="font-size: 25px"
          class="c-purple"
          slot="start"
          name="person-circle"
        ></ion-icon>
        <ion-label>{{ userInfo.fullName }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon
          style="font-size: 25px; color: #2dd55b"
          slot="start"
          name="call-outline"
        ></ion-icon>
        <div>{{ userInfo.phoneNumber }}</div>
      </ion-item>
      <ion-item>
        <ion-icon
          style="font-size: 25px"
          slot="start"
          name="mail-outline"
        ></ion-icon>
        <div>{{ userInfo.email }}</div>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-list
    style="
      margin-top: 20px;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      justify-content: space-between;
      border-radius: 8px;
      border: 0.3px solid #d9d9d9;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    "
    (click)="navigateTo('/account/terms-and-polices')"
  >
    <span style="display: flex; align-items: center">
      <ion-icon
        style="font-size: 25px; margin-right: 25px; color: #ffc409"
        slot="start"
        name="warning-outline"
      ></ion-icon>
      Điều khoản và chính sách
    </span>

    <ion-icon style="font-size: 25px" name="chevron-forward-outline"></ion-icon>
  </ion-list>
  <div class="color">
    <ion-list
      class="red"
      style="
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 8px;
        border: 0.3px solid #d9d9d9;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
      "
      (click)="Logout()"
    >
      <ion-icon
        style="font-size: 25px; margin-right: 25px"
        slot="start"
        name="log-out"
      ></ion-icon>
      Đăng xuất
    </ion-list>
  </div>
  </div>
</ion-content>
