h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.line-info {
  display: flex;
  gap: 25px;
  align-items: center;
}
.text-head {
  margin-left: 15px;
  // font-size: 18px;
}
.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
}
