<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="t-center">
      <h4><ion-icon name="person-circle-outline"></ion-icon>Tài khoản</h4>
    </ion-title>
    <ion-button (click)="navigateTo('/account/setting')" slot="end">Setting</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="background-color: #14ffff; padding: 20px; height: 100%">
    <ion-list lines="inset">
      <ion-item>
        <h1>Thông tin cơ bản</h1>
      </ion-item>
      <ion-item>
        <div class="line-info">
          <ion-icon name="person-outline"></ion-icon>
          <div>Lê Hải Long</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="line-info">
          <ion-icon name="call-outline"></ion-icon>
          <div>0981618172</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="line-info">
          <ion-icon name="mail-outline"></ion-icon>
          <div>hlonn.it&#64;gmail.com</div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list
      style="
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
      (click)="navigateTo('/account/terms-and-polices')"
    >
      Điều khoản và chính sách
    </ion-list>
    <ion-list
      style="
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
       (click)="navigateTo('/login')"
    >
      Đăng xuất
    </ion-list>
  </div>
</ion-content>
