.text-title {
  color: #003da5;
  text-transform: uppercase;
}
.title-content {
  font-size: 1.4rem;
  font-weight: 600;
  color: #004b87;
  text-align: center justify;
}
.img-content {
  border-radius: 6px;
}
.date {
  font-size: 0.9rem;
  color: #888;
}
.text-content {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  text-align: justify;
}
