<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>
      <div style="display: flex; justify-content: center; align-items: center">
        <img class="logo" width="65" height="50" src="../../../assets/img/Logo_of_Petrolimex.svg.png" alt="Logo" />
        <div class="text-title">tin tức</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="newsDetail">
    <div style="padding: 0 15px;">

      <h3 class="title-content">{{ newsDetail.title }}</h3>
      <h5 class="date">{{ newsDetail.createdDate }}</h5>
      <img class="img-content" src="assets/img/1.webp" alt="news image" />
      <p [innerText]="newsDetail.content" style="white-space: pre-line;" clas="text-content" style="
        font-size: 1rem;
        line-height: 1.5;
        color: #333;
        text-align: justify;
      ">
        <!-- {{ newsDetail.content }} -->
      </p>
    </div>

    <!-- <pre>{{newsDetail.content}}</pre> -->
  </ng-container>
</ion-content>
