<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-style"> Chấm điểm 5S cửa hàng </ion-title>
    <app-button-filter
      [initialFilterData]="filterData"
      (filter)="onFilterChanged($event)"
      slot="end"
    ></app-button-filter>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-item-group>
    <ion-item>
      <p>{{ filterData.selectedMonth }}</p>
    </ion-item>
    <ion-item>
      <p>Trạng thái</p>
    </ion-item>
    <ion-item>
      <ion-select
        justify="end"
        interface="popover"
        label="Sắp xếp theo"
        placeholder=""
        [(ngModel)]="selectValue"
      >
        <ion-select-option value="1">Tên cửa hàng</ion-select-option>
        <ion-select-option value="2">Điểm thấp đến cao</ion-select-option>
        <ion-select-option value="3">Điểm cao đến thấp</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <ion-item-group style="margin-top: 10px">
    <ion-list *ngFor="let item of data">
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
