<ion-content>
  <div class="main-news">
    <div class="d-flex" style="margin-bottom: 10px" (click)="reload()">
      <!-- <div class=""></div> -->
      <img style="width: 40px" src="../../../assets/img/logo.png" alt="" />
      <h4 style="
          font-size: 20px;
          border-bottom: 1px solid #d7d7d7;
          padding-left: 4px;
          margin: 5px 0;
        ">
        Khảo sát
      </h4>
    </div>
    <!-- <div style="padding: 20px 10px;">

      <h4>Khảo Sát 5S</h4>
      <h4>Morning, Hoang Trung Kien</h4>
    </div> -->
    <ng-container *ngIf="userInfo">
      <div class="user-info" style="padding: 8px">
        <ion-grid style="background-color: #254edb; border-radius: 10px; padding: 10px">
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <!-- <ion-icon class="icon-user" name="person-outline"></ion-icon> -->
              <ion-icon class="avatar" name="person-outline"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <h5 class="user-name">{{ userInfo.fullName }}</h5>
              <p class="user-position">
                {{ getChucVuName(userInfo.chucVuId) }}
              </p>
            </ion-col>
            <ion-col style="text-align: center">
              <div style="position: relative; display: inline-block; color: black"></div>
            </ion-col>
          </ion-row>
          <ion-row class="calendar-row ion-justify-content-start" style="
              width: 100%;
              color: #f4f4f5;
              padding: 8px;
              border-radius: 8px;
              background-color: #183188;
            ">
            <ion-icon name="calendar-outline" style="padding: 0 10px"></ion-icon>
            {{ formattedDate }}
          </ion-row>
        </ion-grid>
      </div>
    </ng-container>

    <div>
      <ion-grid class="container-job-card">
        <ion-row gap="2" class="space-card">
          <ng-container *ngIf="fullData">
            <div class="bg-success card-job-item ion-text-center">
              <h5><strong style="color: white">{{fullData.lanCham}}</strong></h5>
              <p style="color: white">Lần chấm</p>
            </div>
            <div class="bg-warning card-job-item ion-text-center">
              <h5><strong style="color: white">{{fullData.chuaCham}}</strong></h5>
              <p style="color: white">chưa chấm</p>
            </div>

            <div class="bg-purple card-job-item ion-text-center">
              <h5><strong style="color: white">{{fullData.viPham}}</strong></h5>
              <p style="color: white">Vi phạm</p>
            </div>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
    <div class="horizontal-scroll-buttons d-flex" style="padding: 0 10px; width: 100%; gap: 5px">
      <ion-button *ngFor="let item of buttons" [class.active]="selected === item.value" class="custom"
        (click)="select(item.value)">{{ item.label }}
        {{ item.value == 'store' ? storeLength : item.value == 'warehouse' ? wareHouseLength : item.value == 'chuaCham' ? chuaChamLength : '' }}
      </ion-button>
    </div>
    <!-- all -->
      <ng-container >
        <ion-item-group >
          <ion-grid>
            <ion-list style="display: flex; gap: 5px; flex-direction: column; background: none; ">
              <ion-item [button]="true" *ngFor="let data of dataHome" (click)="navigateItem(data)" style=" --background: none; margin:  5px; width: auto;"
                [ngClass]="{ 'highlight-score': data.isScore === false }">
                <div class="" style="width: 100%;  margin: 16px 7px">
                  <div class="d-flex d-block" style="
                      width: 100%;
                      padding: 4px 0;
                      justify-content: space-between;
                    ">
                    <h5 class="mg-0" style="margin: 9px 0">
                      {{ data.name }}
                    </h5>
                    <p class="mg-0">
                      <ion-chip color="primary" class="mg-0">
                        {{ data.point }}
                      </ion-chip>
                    </p>
                  </div>
                  <div style="
                      padding-bottom: 6px;
                      margin: 0;
                      justify-content: space-between;
                    " class="d-flex">
                    <span class="text-italic" style="font-size: 12px"><ion-icon name="calendar-outline"></ion-icon>
                      {{ formatToMonthYear(data.fDate) }}</span>
                    <span class="text-italic" style="font-size: 12px; padding-left: 15px">{{
                      getChamDiemStatus(data.fDate) }}</span>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-grid>
        </ion-item-group>
      </ng-container>
    <!-- store -->
    <ion-segment-view style="padding: 0 15px">
      <ion-segment-content id="second" style="
          background-image: url('../../../assets/img/bg-store.jpeg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: space-around;
          cursor: pointer;
        " (click)="navigateTo('03805572-e6b7-4455-90fe-9b6584eef46f')">
        <div class="text-segment-content">
          <p>Chấm điểm 5s cửa hàng</p>
          <a href="">
            Đánh giá ngay <ion-icon name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
        <div class="logo">
          <img style="width: 88px; height: 88px" src="../../../assets/img/logo-petrolimex.png" alt="" />
        </div>
      </ion-segment-content>

      <ion-segment-content id="third" style="
          background-image: url('../../../assets/img/bg-ware-house.jpeg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: space-around;
        " (click)="navigateTo('16d30d78-0b80-4323-bd86-2498aae676a1')">
        <div class="text-segment-content">
          <p>Chấm điểm 5s kho</p>
          <a href="">
            Đánh giá ngay <ion-icon name="arrow-forward-outline"></ion-icon>
          </a>
        </div>
        <div class="logo">
          <img style="width: 88px; height: 88px" src="../../../assets/img/logo-petrolimex.png" alt="" />
        </div>
      </ion-segment-content>
    </ion-segment-view>
  </div>
</ion-content>
