<nz-page-header nzBackIcon>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
        <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>
      <button (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
        <span nz-icon nzType="plus-circle"></span> Thêm mới
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content class="main-content">
    <nz-table class="auto-scroll-table" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
      [nzScroll]="{ y: 'calc(100vh - 244px)' }">
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Mã', $event)">
            Mã Kì
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tên kì', $event)">
            Tên kì
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('thời gian bat dau', $event)">
            Thời gian bắt đầu
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Thời gian kết thúc', $event)">
            Thời gian kết thúc
          </th>

          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('trạng thái', $event)" nzAlign="center">
            Trạng thái
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng cần chấm', $event)" nzAlign="center">
            Tổng cần chấm
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng đã chấm', $event)" nzAlign="center">
            Tổng đã chấm
          </th>

          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng đã chấm', $event)" nzAlign="center">
            Thao tác
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize +
            i +
            1
            }}
          </td>
          <td>
            <a (click)="openEditKyKhaoSat(data)">{{ data.code }}</a>
          </td>
          <td>{{ data.name }}</td>
          <td>{{data.startDate}}</td>
          <td>{{data.endDate}}</td>
          <td></td>

          <td></td>
          <td></td>

          <td nzAlign="center">
            <button class="!flex !items-center" nzType="default" nz-button (click)="openDrawer(data.code)">
              <span nz-icon nzType="edit"></span> Cập nhập tiêu chí
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<!--Create Update kì khảo sát-->
<nz-drawer [nzVisible]="visibleKiKhaoSat" [nzExtra]="extra" [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '"
  [nzFooter]=" " (nzOnClose)="close()" nzWidth="80%">
  <ng-container *nzDrawerContent>

    <!-- <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()"> -->
    <nz-tabset>
      <nz-tab nzTitle="Thông tin kì chấm điểm">
        <div nz-row [nzGutter]="12">
          <div nz-col [nzXs]="12">
            <div class="inner-box">
              <label>Mã</label>
              <input nz-input placeholder="Nhập mã" [(ngModel)]="kiKhaoSat.code" type="text" />
            </div>
          </div>
          <div nz-col [nzXs]="12">
            <div class="inner-box">
              <label>Nhập tên kì</label>
              <input nz-input placeholder="Nhập tên" [(ngModel)]="kiKhaoSat.name" type="text" />
            </div>
          </div>
          <div nz-col [nzXs]="12">
            <div class="inner-box">
              <label>Ngày bắt đầu</label>
              <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" [(ngModel)]="kiKhaoSat.startDate"
                [nzPlaceHolder]="'Chọn ngày'" style="width: 100%;"></nz-date-picker>
            </div>
          </div>
          <div nz-col [nzXs]="12">
            <div class="inner-box">
              <label>Ngày kết thúc</label>
              <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm" [(ngModel)]="kiKhaoSat.endDate"
                [nzPlaceHolder]="'Chọn ngày'" style="width: 100%;"></nz-date-picker>
            </div>
          </div>
          <div nz-col [nzXs]="24">
            <div class="inner-box">
              <label>Nhập mô tả </label>
              <input nz-input placeholder="Nhập mô tả" [(ngModel)]="kiKhaoSat.des" type="text" />
            </div>
          </div>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Người chấm điểm">
        <nz-table class="auto-scroll-table" #headerTable [nzData]="dataChamdiem" [nzFrontPagination]="false"
          [nzScroll]="{ y: 'calc(100vh - 244px)' }">
          <thead>
            <tr>
              <th nzWidth="60px">STT</th>
              <th nzWidth="160px" [nzSortFn]="true" [nzAlign]="'left'">
                Mã
              </th>
              <th [nzSortFn]="true">
                Tên cửa hàng
              </th>
              <th [nzSortFn]="true">
                Cửa hàng trưởng
              </th>
              <th [nzSortFn]="true">
                Người phụ trách
              </th>
              <th [nzSortFn]="true">
                Người chấm điểm
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataChamdiem; let i = index">
              <td>
                {{
                (paginationResult.currentPage - 1) * paginationResult.pageSize +
                i +
                1
                }}
              </td>
              <td>
                <a>{{ data.store.id }}</a>
              </td>
              <td nzAlign="center">{{ data.store.name }}</td>
              <td nzAlign="center">{{ data.store.cuaHangTruong }}</td>
              <td nzAlign="center">{{ data.store.nguoiPhuTrach }}</td>
              <td nzAlign="center">

                <nz-select style="width: 100%;" [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder"
                  nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="data.nguoiChamDiem"
                  [ngModelOptions]="{standalone: true}">
                  <nz-option cdkScrollable *ngFor="let item of Account" [nzLabel]="item.fullName"
                    [nzValue]="item.userName">
                  </nz-option>
                </nz-select>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
    <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
    <!-- </form> -->
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
      <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
        (click)="close()">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Thêm
      </button>
      <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
        (click)="close()">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
      </button>
    </ng-container>
  </nz-space>
</ng-template>



<!-- Drawer Component -->
<nz-drawer [nzVisible]="drawerVisible" nzWidth="80%" nzPlacement="right" nzTitle="Cây tiêu chí chấm điểm"
  (nzOnClose)="closeDrawer()">
  <div class="container" *nzDrawerContent>
    <div class="content flex">
      <!-- Left Panel: Tree View -->
      <div class="left-panel w-1/3 pr-4">
        <div class="flex items-center justify-between mb-4">
          <h3 class="m-0">Cây tiêu chí chấm điểm</h3>
        </div>
        <nz-page-header-content class="main-content">
          <nz-tree #treeCom class="!pl-[10px] overflow-auto" [nzData]="treeData" nzDraggable nzBlockNode
            (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzExpandChange)="nzEvent($event)"
            (nzSearchValueChange)="nzEvent($event)" (nzOnDrop)="onDrop($event)" (nzOnDragStart)="onDragStart($event)"
            [nzTreeTemplate]="nzTreeTemplate" [nzExpandedIcon]="multiExpandedIconTpl">
            <ng-template #nzTreeTemplate let-node class="flex-1">

              <div class="flex justify-between pr-8 note_title" (click)="onClick(node)">
                <div class="flex-1">{{ node.title }}</div>
                <div>
                  <span nz-icon (click)="openModalTree(node)" nzType="plus-circle" nzTheme="twotone"></span>
                  <span nz-icon (click)="openCreateChild(node)" nzType="edit" nzTheme="outline"
                    style="margin: 0 5px;"></span>
                  <span nz-icon (click)="openCreateChild(node)" nzType="delete" nzTheme="outline"></span>
                </div>
              </div>
            </ng-template>
            <ng-template #multiExpandedIconTpl let-node let-origin="origin">
              <span *ngIf="node.children.length > 0" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
                nzTheme="outline" class="ant-tree-switcher-line-icon icon-tree"></span>
            </ng-template>
          </nz-tree>
        </nz-page-header-content>
      </div>

      <!-- Right Panel: Table View -->
      <div class="right-panel w-2/3 pl-4">
        <nz-page-header nzBackIcon>
          <nz-page-header-title>Chi tiết tiêu chí</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary" *ngIf="treeId != ''" class="mt-2" (click)="openCreLeaves(selectedNode)">
              <i nz-icon nzType="plus-circle"></i> Thêm mới
            </button>
          </nz-page-header-extra>
        </nz-page-header>
        <nz-table class="auto-scroll-table" #headerTable [nzData]="selectedNodeDetails" [nzBordered]="true"
          [nzFrontPagination]="false">
          <thead>
            <tr>
              <th nzWidth="60px">STT</th>
              <th>Mã tiêu chí</th>
              <th>Tên tiêu chí</th>
              <th>Bắt buộc chọn hình ảnh</th>
              <th nzAlign="center">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of headerTable.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data.id }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.requiredImage ? 'Có' : 'Không' }}</td>
              <td nzAlign="center">
                <!-- <button nz-button nzType="link" (click)="openEdit(data)">Sửa</button> -->
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</nz-drawer>

<!-- Create/Edit Form tiêu chí -->
<nz-modal [(nzVisible)]="leavesVisible" [nzTitle]="edit ? 'Chỉnh sửa tiêu chí' : 'Thêm mới tiêu chí'"
  (nzOnCancel)="closeModal()" [nzFooter]="modalFooter" [nzWidth]="1400" [nzBodyStyle]="{height: '70vh', overflow: 'auto'}">
  <div nz-row [nzGutter]="16" *nzModalContent>
    <div nz-col [nzSpan]="12">
      <div class="inner-box" style="padding:5px 0px !important;">
        <label nzRequired class="block-label">Mã tiêu chí</label>

        <input nz-input [(ngModel)]="leavesNode.id" />

      </div>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox [(ngModel)]="leavesNode.isImg" class="mr-4">Bắt buộc phải chọn ảnh</label>
          <label nz-checkbox [(ngModel)]="leavesNode.chiChtAtvsv">Chỉ yêu cầu CHT, ATV chụp ảnh</label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Second Row: Order and Minimum Images -->
    <div nz-col [nzSpan]="12">
      <div class="inner-box" style="padding:5px 0px !important;">
        <label class="block-label">Số thứ tự</label>

        <input nz-input [(ngModel)]="leavesNode.orderNumber" type="number" />

      </div>
    </div>
    <div nz-col [nzSpan]="12">
      <div class="inner-box" style="padding:5px 0px;">
        <label class="block-label">Số ảnh tối thiểu</label>

        <input nz-input [(ngModel)]="leavesNode.numberImg" type="number" />

      </div>
    </div>

    <!-- Third Row: Name -->
    <div nz-col [nzSpan]="24">
      <div class="inner-box" style="padding:5px 0px;">
        <label nzRequired class="block-label">Tên tiêu chí</label>

        <input nz-input [(ngModel)]="leavesNode.name" />

      </div>
    </div>

    <!-- Fourth Row: Warning -->
    <div nz-col [nzSpan]="24">
      <div class="inner-box" style="padding:5px 0px;">
        <label class="block-label">Cảnh báo</label>

        <input nz-input [(ngModel)]="leavesNode.report" />

      </div>
    </div>

    <!-- Fifth Row: Calculation Method -->
    <div nz-col [nzSpan]="24">
      <div class="inner-box flex ant-flex-justify-space-between" style="padding:10px 0px;">
        <label class="block-label" style="font-size: large; font-weight: 700;">Cách tính điểm</label>
        <button nz-button nzType="dashed" class="mt-2" (click)="addCalculationRow()">
          <i nz-icon nzType="plus-circle"></i> Thêm mới
        </button>
      </div>
      <nz-form-item *ngIf="calculationRows.length > 0">
        <nz-form-control>
          <nz-table #calculationTable [nzBordered]="true" [nzData]="calculationRows" [nzSize]="'middle'">
            <thead>
              <tr>
                <th nzWidth="50px">STT</th>
                <th>Mô tả</th>
                <th nzWidth="300px">Điểm</th>
                <th nzWidth="50px">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of calculationRows; let i = index">
                <td>{{ i + 1 }}</td>
                <td><input nz-input [(ngModel)]="row.moTa" placeholder="Nhập mô tả" /></td>
                <td><input nz-input [(ngModel)]="row.diem" type="number" placeholder="Nhập điểm" />
                </td>
                <td>
                  <button nz-button nzType="default" nzDanger (click)="removeCalculationRow(i)">
                    <i nz-icon nzType="delete"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Sixth Row: Upload -->
    <!-- <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label class="block-label">Upload ảnh</nz-form-label>
        <nz-form-control>
          <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
            <button nz-button>
              <nz-icon nzType="upload" />
              Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div> -->
  </div>
  <!-- </form> -->
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="closeModal()">Hủy</button>
    <button nz-button  nzType="primary"  (click)="insertTree()">Lưu</button>
  </ng-template>
</nz-modal>


<!-- /* Modal tree */ -->
<nz-modal [(nzVisible)]="treeVisible" [nzTitle]="edit ? 'Chỉnh sửa cây tiêu chí' : 'Thêm mới cây tiêu chí'"
  (nzOnCancel)="closeModal()" [nzFooter]="treeModalFooter" [nzWidth]="400" [nzBodyStyle]="{height: '20vh', overflow: 'auto'}">
  <!-- <form nz-form [formGroup]="validateForm" *nzModalContent> -->
  <ng-container *nzModalContent>
    <div class="modal-content">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>Tên tiêu chí cha</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="tree.title" [readonly]="true" disabled/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>Tên tiêu chí con</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="dataInsertTree.name" placeholder="Nhập tên tiêu chí con" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #treeModalFooter>
    <nz-space>
      <ng-container *ngIf="!edit">
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="submitFormTree()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Thêm
        </button>
        <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
          (click)="closeModal()">
          <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
        </button>
      </ng-container>
    </nz-space>
  </ng-template>
</nz-modal>
