<nz-page-header nzBackIcon>
  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
        <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>
      <button (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
        <span nz-icon nzType="plus-circle"></span> Thêm mới
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content class="main-content">
    <nz-table class="auto-scroll-table" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
      [nzScroll]="{ y: 'calc(100vh - 244px)' }">
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Mã', $event)">
            Mã Kì
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tên kì', $event)">
            Tên kì
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('thời gian bat dau', $event)">
            Thời gian bắt đầu
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Thời gian kết thúc', $event)">
            Thời gian kết thúc
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('ghi chú', $event)">
            ghi chú
          </th>
         <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('trạng thái', $event)" nzAlign="center">
            Trạng thái
          </th>
           <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng cần chấm', $event)" nzAlign="center">
            Tổng cần chấm
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng đã chấm', $event)" nzAlign="center">
            Tổng đã chấm
          </th>

          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng đã chấm', $event)" nzAlign="center">
            Thao tác
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize +
            i +
            1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.id }}</a>
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td nzAlign="center">
            <button class="!flex !items-center" nzType="default" nz-button>
              <span nz-icon nzType="edit"></span>  Cập nhập tiêu chí
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<!--Create Update-->
<nz-modal
  [nzVisible]="visible"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '"
  [nzWidth]="1400"
  [nzFooter]="null"
  (nzOnCancel)="close()"
   [nzBodyStyle]="{height: '70vh', overflow: 'auto'}"
   [nzFooter]="extra"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
     <nz-tabset>
      <nz-tab nzTitle="Thông tin kì chấm điểm">
        <div nz-row [nzGutter]="12">
          <div nz-col [nzXs]="24" >
            <app-input-clear placeholder="Nhập mã kì" [required]="true" label="Mã "
        [control]="$any(validateForm).controls['Code']" [required]="true"
        [disabled]="edit ? true : false"></app-input-clear>
         </div>
         <div nz-col [nzXs]="24" >
          <app-input-clear placeholder="Nhập tên kì " [required]="true" label="Tên kì "
        [control]="$any(validateForm).controls['Name']" [required]="true"
        [disabled]="edit ? true : false"></app-input-clear>
         <app-input-clear placeholder="Nhập mô tả " [required]="true" label="Mô tả "
        [control]="$any(validateForm).controls['Des']" [required]="true"
        [disabled]="edit ? true : false"></app-input-clear>
        </div>
          <div>
        <div class="inner-box">
          <label>Ngày bắt đầu</label>
          <nz-date-picker
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm"
          formControlName="StartDate"
          [nzPlaceHolder]="'Chọn ngày'"
          style="width: 100%;"
            ></nz-date-picker>
        </div>
      </div>
        <div>
        <div class="inner-box">
          <label>Ngày kết thúc</label>
          <nz-date-picker
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm"
          formControlName="EndDate"
          [nzPlaceHolder]="'Chọn ngày'"
          style="width: 100%;"
          ></nz-date-picker>
        </div>
      </div>


        </div>
        </nz-tab>
        <nz-tab nzTitle="Người chấm điểm">

           <nz-table class="auto-scroll-table" #headerTable [nzData]="DataChamdiem" [nzFrontPagination]="false"
      [nzScroll]="{ y: 'calc(100vh - 244px)' }">
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th [nzSortFn]="true" >
            Mã cửa hàng
          </th>
          <th [nzSortFn]="true" >
            Tên cửa hàng
          </th>
          <th [nzSortFn]="true" >
            Cửa hàng trưởng
          </th>
          <th [nzSortFn]="true" >
            Người phụ trách
          </th>
          <th [nzSortFn]="true" >
            Người chấm điểm
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of DataChamdiem; let i = index">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize +
            i +
            1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.ma }}</a>
          </td>
          <td nzAlign="center">{{ data.name }}</td>

          <td nzAlign="center">{{ data.cuaHangTruong }}</td>
          <td nzAlign="center">{{ data.nguoiPhuTrach }}</td>

          <td nzAlign="center">

             <nz-select  style="width: 100%;" [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                                nzPlaceHolder="Please select" formControlName="NguoichamDiem">
                                <nz-option cdkScrollable *ngFor="let item of Account" [nzLabel]="item.fullName"
                                    [nzValue]="item.userName">
                                </nz-option>
            </nz-select>
          </td>



        </tr>
      </tbody>
    </nz-table>
        </nz-tab>
        </nz-tabset>
        <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
    </form>
  </ng-container>
</nz-modal>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
