<nz-page-header nzBackIcon>
  <nz-page-header-title>Danh Sách Kỳ Chấm Điểm</nz-page-header-title>

  <nz-page-header-extra>
    <div class="flex-grow-2 flex">
      <nz-space>
        <app-input-clear placeholder="Tìm kiếm" (enterEvent)="setInSearchKKS()"
          [(value)]="inputSearchKKS"></app-input-clear>
        <button (click)="setInSearchKKS()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="search"></span>
        </button>
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </nz-space>
      <button (click)="openCreateKi()" class="!flex !items-center space-btn" nzType="primary" nz-button>
        <span nz-icon nzType="plus-circle"></span> Thêm mới
      </button>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content class="main-content">
    <nz-table class="auto-scroll-table" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false">
      <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)">
            MÃ KỲ
          </th>
          <th nzAlign="left" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">
            TÊN KỲ
          </th>
          <th nzAlign="left" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('startDate', $event)">
            THỜI GIAN BẮT ĐẦU
          </th>
          <th nzAlign="left" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('endDate', $event)">
            THỜI GIAN KẾT THÚC
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('trạng thái', $event)" nzAlign="center">
            TRẠNG THÁI
          </th>
          <!-- <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng cần chấm', $event)" nzAlign="center">
            TỔNG CẦN CHẤM
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng đã chấm', $event)" nzAlign="center">
            TỔNG ĐÃ CHẤM
          </th> -->
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Tổng đã chấm', $event)" nzAlign="center">
            THAO TÁC
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize +
            i +
            1
            }}
          </td>
          <td nzAlign="center">
            <a (click)="openEditKyKhaoSat(data)">{{ data.code }}</a>
          </td>
          <td nzAlign="center">{{ data.name }}</td>
          <td>{{data.startDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{data.endDate | date: 'dd/MM/yyyy' }}</td>
          <td nzAlign="center">
            <nz-tag nzColor="default" *ngIf="data.trangThaiKi == '1'">
              <nz-icon nzType="clock-circle" />
              <span>Khởi tạo</span>
            </nz-tag>
            <nz-tag nzColor="success" *ngIf="data.trangThaiKi == '2'">
              <nz-icon nzType="check-circle" />
              <span>Đang mở</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="data.trangThaiKi == '0'">
              <nz-icon nzType="close-circle" />
              <span>Đã đóng</span>
            </nz-tag>
          </td>

          <!-- <td></td>
          <td></td> -->

          <td nzAlign="center" style=" display: flex; justify-content: center;">
            <button class="!flex !items-center" nzType="default" nz-button (click)="openDrawerTieuChi(data.id)">
              <span nz-icon nzType="edit"></span>Cập nhập tiêu chí
            </button>
            <button nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không?" class="!flex !items-center"
              style="margin-left: 10px;" nzType="default" nz-button (nzOnConfirm)="DeleteKKS(data.id)">
              <span nz-icon nzType="delete" nzTheme="outline" style="cursor:pointer;"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>
</nz-page-header>

<!--Create Update kì khảo sát-->
<nz-drawer [nzVisible]="visibleKiKhaoSat" [nzExtra]="extra"
  [nzTitle]="edit ? ' CHỈNH SỬA KỲ CHẤM ĐIỂM  ' : ' THÊM MỚI KỲ CHẤM ĐIỂM  '" [nzFooter]=" " (nzOnClose)="closeDrawer()"
  nzWidth="80%">
  <ng-container *nzDrawerContent>

    <!-- <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()"> -->
    <nz-tabset  (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab nzTitle="THÔNG TIN KÌ CHẤM ĐIỂM">
        <div nz-row [nzGutter]="12">
          <div nz-col [nzXs]="12">
            <div class="inner-box">
              <h4>Mã Kì</h4>
              <input nz-input placeholder="Nhập mã" [disabled]="edit" [required]="'true'"
                [(ngModel)]="inputKi.kiKhaoSat.code" type="text" nzSize="large" />
            </div>
          </div>
          <div nz-col [nzXs]="12">
            <div class="inner-box">
              <h4>Nhập Tên Kì</h4>
              <input nz-input placeholder="Nhập tên" [(ngModel)]="inputKi.kiKhaoSat.name" type="text" nzSize="large" />
            </div>
          </div>
          <div nz-col [nzXs]="12" style="margin: 20px 0;">
            <div class="inner-box">
              <h4>Ngày Bắt Đầu</h4>
              <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="inputKi.kiKhaoSat.startDate"
                [nzPlaceHolder]="'Chọn ngày'" style="width: 100%;" nzSize="large"></nz-date-picker>
            </div>
          </div>
          <div nz-col [nzXs]="12" style="margin: 20px 0;">
            <div class="inner-box">
              <h4>Ngày Kết Thúc</h4>
              <nz-date-picker nzFormat="yyyy-MM-dd " [(ngModel)]="inputKi.kiKhaoSat.endDate"
                [nzPlaceHolder]="'Chọn ngày'" style="width: 100%;" nzSize="large"></nz-date-picker>
            </div>
          </div>

          <div nz-col [nzXs]="24">
            <div class="inner-box">
              <h4>Mô Tả </h4>
              <input nz-input placeholder="Nhập mô tả" [(ngModel)]="inputKi.kiKhaoSat.des" type="text" nzSize="large" />
            </div>
          </div>
        </div>

        <div nz-col [nzXs]="12" style="margin: 20px 0;">
          <H4>Copy Kỳ Khảo Sát</H4>
          <nz-select [disabled]="edit" style="width: 100%;" nzShowSearch nzAllowClear placeholder="Chọn kì copy"
            [(ngModel)]="inputKi.kyCopyId" (ngModelChange)="getInputCopyKy()">
            <nz-option cdkScrollable *ngFor="let item of paginationResult.data" [nzLabel]="item.name"
              [nzValue]="item.id">
            </nz-option>
          </nz-select>
        </div>
      </nz-tab>

      <nz-tab nzTitle="NGƯỜI CHẤM ĐIỂM">
        <!-- <nz-space style="float: right;">
          <app-input-clear placeholder="Tìm kiếm" (enterEvent)="searchNguoiChamDiem()"
            [(value)]="filterNguoiChamDiem"></app-input-clear>
          <button (click)="searchNguoiChamDiem()" class="flex !items-center !border-l-0 gray-btn" nzType="default"
            nz-button nzType="default">
            <span nz-icon nzType="search"></span>
          </button>
          <button (click)="resetStore()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
            nzType="default">
            <span nz-icon nzType="redo"></span>
          </button>
        </nz-space> -->
        <nz-table *ngIf="inputKi.lstInputStore?.length  != 0" class="auto-scroll-table" #headerTable
          [nzData]="inputKi.lstInputStore" [nzFrontPagination]="false" [nzScroll]="{ y: 'calc(100vh - 244px)' }">
          <thead>
            <tr>
              <th nzWidth="60px">STT</th>
              <th nzWidth="160px" [nzSortFn]="true" [nzAlign]="'left'">
                Mã
              </th>
              <th [nzSortFn]="true">
                Tên Cửa Hàng
              </th>
              <th [nzSortFn]="true">
                Cửa Hàng Trưởng
              </th>
              <th [nzSortFn]="true">
                Người Phụ Trách
              </th>
              <th [nzSortFn]="true">
                Người Chấm Điểm
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of lstInputDoiTuongSearch; trackBy: trackByKey; let i = index">

              <td>{{(paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1}}</td>
              <td nzAlign="center">
                <a>{{ data.storeId }}</a>
              </td>
              <td nzAlign="left">{{ data.name }}</td>
              <td nzAlign="left">{{ getNameByCodeAccount(data.cuaHangTruong) }}</td>
              <td nzAlign="left">{{ getNameByCodeAccount(data.nguoiPhuTrach) }}</td>
              <td nzAlign="center">
                <nz-select style="width: 100%;" [nzMaxTagCount]="10" [nzMaxTagPlaceholder]="tagPlaceHolder"
                  nzMode="multiple" nzPlaceHolder="Please select" [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="data.lstChamDiem" (ngModelChange)="onChangeChamDiem($event, data)" >
                    <nz-option  cdkScrollable *ngFor="let item of lstAccount; trackBy: trackByKey" [nzLabel]="item.fullName"
                    [nzValue]="item.userName">
                  </nz-option>
                </nz-select>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <nz-table *ngIf="inputKi.lstInputWareHouse?.length  != 0" class="auto-scroll-table" #headerTable
          [nzData]="inputKi.lstInputWareHouse" [nzFrontPagination]="false" [nzScroll]="{ y: 'calc(100vh - 244px)' }">
          <thead>
            <tr>
              <th nzWidth="60px">STT</th>
              <th nzWidth="160px" [nzSortFn]="true" [nzAlign]="'left'">
                Mã
              </th>
              <th [nzSortFn]="true">
                Tên Kho
              </th>
              <th [nzSortFn]="true">
                Trưởng Kho
              </th>
              <th [nzSortFn]="true">
                Người Phụ Trách
              </th>
              <th [nzSortFn]="true">
                Người Chấm Điểm
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of lstInputDoiTuongSearch; trackBy: trackByKey; let i = index">

              <td>{{(paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1}}</td>
              <td nzAlign="center">
                <a>{{ data.wareHouseId }}</a>
              </td>
              <td nzAlign="left">{{ data.name }}</td>

              <td >{{ getNameByCodeAccount(data.truongKho) }}</td>
              <td >{{ getNameByCodeAccount(data.nguoiPhuTrach) }}</td>
              <td nzAlign="center">
                <nz-select style="width: 100%;" [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder"
                  nzMode="multiple" nzPlaceHolder="Please select" [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="data.lstChamDiem" (ngModelChange)="onChangeChamDiem($event, data)">
                  <nz-option cdkScrollable *ngFor="let item of lstAccount; trackBy: trackByKey" [nzLabel]="item.fullName"
                    [nzValue]="item.userName">
                    <!-- [nzValue]="item.userName"> -->
                  </nz-option>
                </nz-select>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
    <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
  </ng-container>
</nz-drawer>

<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <ng-container *nzSpaceItem>
        <button *ngIf="inputKi.kiKhaoSat.trangThaiKi == '0' || inputKi.kiKhaoSat.trangThaiKi == '1'"
          [nzLoading]="loading" nz-button nzType="default"
          style="background-color: #04AA6D; color: white; border: none;" class="!flex !items-center"
          (click)="onUpdateKhaoSatTrangThai('2')">
          <span nz-icon nzType="save" nzTheme="outline"></span>Mở kỳ
        </button>
        <button *ngIf="inputKi.kiKhaoSat.trangThaiKi == '2'" [nzLoading]="loading" nz-button nzType="default"
          style="background-color: #722ed1; color: white; border: none;" class="!flex !items-center"
          (click)="onUpdateKhaoSatTrangThai('0')">
          <span nz-icon nzType="save" nzTheme="outline"></span>Đóng kỳ
        </button>
      </ng-container>
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="onUpdateKiKhaoSat()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Thêm
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="closeDrawer()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>



<!-- Drawer Component cây tiêu chí tree -->
<nz-drawer [nzVisible]="drawerVisible" nzWidth="85%" nzPlacement="right" nzTitle="CẬP NHẬT TIÊU CHÍ CHẤM ĐIỂM"
  (nzOnClose)="closeDrawer()">
  <div class="container" *nzDrawerContent>
    <div class="content flex">
      <div class="left-panel w-1/3 pr-4">
        <div class="flex items-center justify-between mb-4">
          <nz-page-header-title>Cây Tiêu Chí Chấm Điểm</nz-page-header-title>
          <button nz-button nzType="default" (click)="updateOrderTree()">Cập nhật vị trí</button>
        </div>
        <nz-divider style="margin: 15px 0px;"></nz-divider>
        <nz-page-header-content class="main-content">
          <nz-tree #treeCom class="!pl-[10px] overflow-auto" [nzData]="treeData" nzDraggable nzBlockNode
            (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzExpandChange)="nzEvent($event)"
            (nzSearchValueChange)="nzEvent($event)" (nzOnDrop)="onDrop($event)" (nzOnDragStart)="onDragStart($event)"
            [nzTreeTemplate]="nzTreeTemplate" [nzExpandedIcon]="multiExpandedIconTpl">
            <ng-template #nzTreeTemplate let-node nzWidth="85%">
              <div class="flex items-center justify-between pr-4 gap-2 w-full" (click)="onClick(node)">
                <div class="truncate whitespace-nowrap overflow-hidden text-ellipsis" [title]="node.title"
                  style="  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; max-width: calc(100% - 80px); padding: 3px 0;">
                  {{ node.title }}
                </div>
                <div class="" style=" position: absolute;    right: 0px; ">
                  <ng-container *ngIf="node.origin.pId !== '-1'">
                    <button nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không?"
                      style="border: none; background: none; color: red;" class="!flex !items-center" nzType="default"
                      nz-button (nzOnConfirm)="deleteTree(node)">
                      <span nz-icon nzType="delete" nzTheme="outline" style="cursor:pointer;"></span>
                    </button>
                  </ng-container>
                  <span nz-icon (click)="openEditTree(node)" nzType="edit" nzTheme="outline"></span>
                  <span nz-icon (click)="openCreateTree(node)" nzType="plus-circle" nzTheme="twotone"
                    style="margin-left: 8px;"></span>
                </div>
              </div>
            </ng-template>
            <ng-template #multiExpandedIconTpl let-node let-origin="origin">
              <span *ngIf="node.children?.length > 0" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
                nzTheme="outline" class="ant-tree-switcher-line-icon icon-tree"></span>
            </ng-template>
          </nz-tree>
        </nz-page-header-content>
      </div>

      <div class="right-panel w-2/3 pl-4">
        <nz-page-header nzBackIcon>
          <nz-page-header-title>Chi Tiết Tiêu Chí</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary" *ngIf="treeId != ''" class="mt-2" (click)="openCreLeaves(selectedNode)">
              <i nz-icon nzType="plus-circle"></i> Thêm mới
            </button>
          </nz-page-header-extra>
        </nz-page-header>
        <nz-table class="auto-scroll-table" #headerTable [nzData]="selectedNodeDetails" [nzBordered]="true"
          [nzFrontPagination]="false">
          <thead>
            <tr>
              <th nzWidth="60px">STT</th>
              <th>MÃ TIÊU CHÍ</th>
              <th>TÊN TIÊU CHÍ</th>
              <th>BẮT BUỘC CHỌN ẢNH</th>
              <th nzAlign="center">THAO TÁC</th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <tr *ngFor="let data of selectedNodeDetails; let i = index" cdkDrag>
              <td>{{ i + 1 }}</td>
              <td><a (click)="openUpdateLeaves(data)" style="cursor:pointer;">{{ data.id }}</a></td>
              <td>{{ data.name }}</td>
              <td>{{ data.isImg ? 'Có' : 'Không' }}</td>
              <td nzAlign="center">
                <div>
                  <span nz-icon (click)="openUpdateLeaves(data)" nzType="edit" nzTheme="outline"
                    style="margin: 0 5px; cursor: pointer;"></span>
                  <button nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không?"
                    style="border: none; background: none;" (nzOnConfirm)="deleteLeaves(data)"
                    nzPopconfirmPlacement="topRight" nz-button>
                    <span nz-icon nzType="delete" nzTheme="outline" style="cursor:pointer;"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</nz-drawer>

<!-- Create/Edit Form tiêu chí lá-->
<nz-modal [(nzVisible)]="leavesVisible" [nzTitle]="edit ? 'Chỉnh Sửa Tiêu Chí' : 'Thêm Mới Tiêu Chí'"
  style="background-color: rgb(138, 158, 188)" (nzOnCancel)="closeModal()" [nzWidth]="1400" [nzMask]="!edit"
  [nzFooter]="extra1" [nzBodyStyle]="{height: '70%', overflow: 'auto'}">

  <ng-container *nzModalContent>
    <nz-tabset>

      <nz-tab nzTitle="Thông Tin Tiêu Chí">

        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <div class="inner-box" style="padding:5px 0px !important;">
              <label nzRequired class="block-label">Mã tiêu chí</label>
              <input nz-input [(ngModel)]="leavesNode.id" [disabled]="edit" />
            </div>
          </div>

          <div nz-col [nzSpan]="12">
            <!-- <div class="inner-box" style="padding:5px 0px !important;">
              <label class="block-label">Số thứ tự</label>
              <input nz-input [(ngModel)]="leavesNode.orderNumber" type="number" />
            </div> -->
          </div>
          <div nz-col [nzSpan]="12">
            <div class="inner-box" style="padding:5px 0px;">
              <label class="block-label">Số ảnh tối thiểu</label>
              <input nz-input [(ngModel)]="leavesNode.numberImg" type="number" />
            </div>
          </div>
          <div nz-col [nzSpan]="12" style="display: flex; align-items: center;">
            <div class="inner-box"
              style="display: flex; align-items: center; gap: 16px; width: 100%; justify-content: center;">
              <label nz-checkbox [(ngModel)]="leavesNode.isImg" class="mr-4">Bắt buộc phải chọn ảnh</label>
              <label nz-checkbox [(ngModel)]="leavesNode.chiChtAtvsv">Chỉ yêu cầu CHT, ATV chụp ảnh</label>
            </div>
          </div>

          <div nz-col [nzSpan]="24">
            <div class="inner-box" style="padding:5px 0px;">
              <label nzRequired class="block-label">Tên tiêu chí</label>
              <input nz-input [(ngModel)]="leavesNode.name" />
            </div>
          </div>

          <div nz-col [nzSpan]="24">
            <div class="inner-box" style="padding:5px 0px;">
              <label class="block-label">Cảnh báo</label>
              <input nz-input [(ngModel)]="leavesNode.report" />
            </div>
          </div>

          <div nz-col [nzSpan]="24">
            <div class="inner-box flex ant-flex-justify-space-between" style="padding:10px 0px;">
              <label class="block-label" style="font-size: large; font-weight: 700;">Cách tính điểm</label>
              <button nz-button nzType="dashed" class="mt-2" (click)="addCalculationRow()">
                <i nz-icon nzType="plus-circle"></i> Thêm mới
              </button>
            </div>
            <nz-form-item *ngIf="calculationRows?.length > 0">
              <nz-form-control>
                <nz-table #calculationTable [nzBordered]="true" [nzData]="calculationRows" [nzSize]="'middle'">
                  <thead>
                    <tr>
                      <th nzWidth="50px">STT</th>
                      <th>Mô tả</th>
                      <th nzWidth="300px">Điểm</th>
                      <th nzWidth="50px">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of calculationRows; let i = index">
                      <ng-container *ngIf="row.isDeleted != true">

                        <td>{{ i + 1 }}</td>
                        <td><input nz-input [(ngModel)]="row.moTa" placeholder="Nhập mô tả" /></td>
                        <td><input nz-input [(ngModel)]="row.diem" type="number" placeholder="Nhập điểm" />
                        </td>
                        <td>
                          <button *ngIf="edit" nz-button nzType="default" nzDanger
                            (click)="deleteCalculationRow(row, i)">
                            <i nz-icon nzType="delete"></i>
                          </button>
                          <button nz-button *ngIf="!edit" nzType="default" nzDanger (click)="removeCalculationRow(i)">
                            <i nz-icon nzType="delete"></i>
                          </button>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Sixth Row: Upload -->
          <!-- <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label class="block-label">Upload ảnh</nz-form-label>
        <nz-form-control>
          <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
            <button nz-button>
              <nz-icon nzType="upload" />
              Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div> -->
        </div>

      </nz-tab>
      <nz-tab nzTitle="Không Áp Dụng Cửa Hàng">
        <nz-table *ngIf="inputKi.lstInputStore?.length  != 0" class="auto-scroll-table" #headerTable
          [nzData]="inputKi.lstInputStore" [nzFrontPagination]="false" [nzScroll]="{ y: 'calc(100vh - 244px)' }">
          <thead>
            <tr>
              <th nzWidth="60px" [(nzChecked)]="checkedAllObject" (nzCheckedChange)="onAllCheckedObject($event)"></th>
              <th nzWidth="160px" [nzSortFn]="true" [nzAlign]="'left'">
                Mã Kì
              </th>
              <th [nzSortFn]="true">
                Tên Cửa Hàng
              </th>
              <th [nzSortFn]="true">
                Cửa Hàng Trưởng
              </th>
              <th [nzSortFn]="true">
                Người Phụ Trách
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span nz-icon nzType="history"></span></td>
              <td nzAlign="center"><input nz-input type="text"></td>
              <td nzAlign="left"><input nz-input type="text"></td>
              <td nzAlign="left"><input nz-input type="text"></td>
              <td nzAlign="left"><input nz-input type="text"></td>
            </tr>

            <tr *ngFor="let data of inputKi.lstInputStore; let i = index">
              <td nzWidth="60px" [nzChecked]="isCheckedObject(data.id)"
                (nzCheckedChange)="onItemCheckedObject(data, $event)"></td>
              <td nzAlign="center">
                <a>{{ data.storeId }}</a>
              </td>
              <td nzAlign="left">{{ data.name }}</td>
              <td nzAlign="left">{{ getNameByCodeAccount(data.cuaHangTruong) }}</td>
              <td nzAlign="left">{{ getNameByCodeAccount(data.nguoiPhuTrach) }}</td>
            </tr>
          </tbody>
        </nz-table>

        <nz-table *ngIf="inputKi.lstInputWareHouse?.length  != 0" class="auto-scroll-table" #headerTable
          [nzData]="inputKi.lstInputWareHouse" [nzFrontPagination]="false" [nzScroll]="{ y: 'calc(100vh - 244px)' }">
          <thead>
            <tr>
              <th nzWidth="60px" [(nzChecked)]="checkedAllObject" (nzCheckedChange)="onAllCheckedObject($event)"></th>
              <th nzWidth="160px" [nzSortFn]="true" [nzAlign]="'left'">
                Mã Kì
              </th>
              <th [nzSortFn]="true">
                Tên Kho
              </th>
              <th [nzSortFn]="true">
                Trưởng Kho
              </th>
              <th [nzSortFn]="true">
                Người Phụ Trách
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of inputKi.lstInputWareHouse; let i = index">
              <td nzWidth="60px" [nzChecked]="isCheckedObject(data.id)"
                (nzCheckedChange)="onItemCheckedObject(data, $event)"></td>
              <td nzAlign="center">
                <a>{{ data.wareHouseId }}</a>
              </td>
              <td nzAlign="left">{{ data.name }}</td>
              <td nzAlign="left">{{ getNameByCodeAccount(data.truongKho) }}</td>
              <td nzAlign="left">{{ getNameByCodeAccount(data.nguoiPhuTrach) }}</td>

              <!-- <ng-container *ngFor="let item of lstKho">
                <ng-container *ngIf="item.id == data.wareHouseId">
                  <ng-container *ngFor="let i of lstAccount">
                    <td *ngIf="i.userName == item.truongKho">{{ i.fullName }}</td>
                    <td *ngIf="i.userName == item.nguoiPhuTrach">{{ i.fullName }}</td>
                  </ng-container>
                </ng-container>
              </ng-container> -->
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </ng-container>
  <ng-template #extra1>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" nz-button nzType="primary" (click)="updateLeaves()">
        Lưu
      </button>
    </ng-container>
    <ng-container>
      <button nz-button nzType="default" (click)="closeModal()">Hủy</button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button nz-button nzType="primary" (click)="insertTree()">Thêm</button>
    </ng-container>
  </ng-template>
</nz-modal>


<!-- /* thêm mới cây tree */ -->
<nz-modal [(nzVisible)]="treeInsertVisible" nzTitle="Thêm mới cây tiêu chí" (nzOnCancel)="closeModal()"
  [nzFooter]="treeModalFooter" [nzWidth]="400" [nzBodyStyle]="{height: '20vh'}">
  <!-- <form nz-form [formGroup]="validateForm" *nzModalContent> -->
  <ng-container *nzModalContent>
    <div class="modal-content">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-label>Tên tiêu chí cha</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input [(ngModel)]="tree.title" [readonly]="true" disabled />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-label>Tên tiêu chí con</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input [(ngModel)]="dataInsertTree.name" placeholder="Nhập tên tiêu chí con" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #treeModalFooter>
    <nz-space>
      <ng-container>
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="submitFormTree()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Thêm
        </button>
      </ng-container>
      <ng-container>
        <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
          (click)="closeModal()">
          <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
        </button>
      </ng-container>
    </nz-space>
  </ng-template>
</nz-modal>

<!-- chỉnh sửa cây  -->
<nz-modal [(nzVisible)]="treeEditVisible" nzTitle="Chỉnh sửa cây tiêu chí" (nzOnCancel)="closeModal()"
  [nzFooter]="treeModalFooter1" [nzWidth]="400" [nzBodyStyle]="{height: '20vh'}">
  <!-- <form nz-form [formGroup]="validateForm" *nzModalContent> -->
  <ng-container *nzModalContent>
    <div class="modal-content">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-form-label>Tên tiêu chí cha</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input [ngModel]="parentTitle" readonly disabled />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-label>Tên tiêu chí con</nz-form-label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input [(ngModel)]="dataInsertTree.name" placeholder="Nhập tên tiêu chí con" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #treeModalFooter1>
    <nz-space>
      <ng-container>
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="updateTreeGroup(dataInsertTree)">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <ng-container>

        <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
          (click)="closeModal()">
          <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
        </button>
      </ng-container>
    </nz-space>
  </ng-template>
</nz-modal>
