<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="" slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>

    <h5 class=""> Chấm điểm 5S {{ kiKhaoSat.doiTuong }} </h5>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-item-group>
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <p>{{ kiKhaoSat?.name }}</p>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="warning-outline"></ion-icon>
      <p>Trạng thái</p>
      <ion-chip *ngIf="kiKhaoSat?.trangThaiKi === '0'" slot="end" color="danger">Đã đóng</ion-chip>
      <ion-chip *ngIf="kiKhaoSat?.trangThaiKi === '1'" slot="end" color="primary">Khởi tạo</ion-chip>
      <ion-chip *ngIf="kiKhaoSat?.trangThaiKi === '2'" slot="end" color="success">Đang mở</ion-chip>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <p>{{ doiTuong?.name }}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group style="margin-top: 20px">
    <ion-item *ngFor="let item of lstHisEvaluate" style="--padding-start: 0px;  --inner-padding-end: 0px; ">
      <ion-grid>
        <ion-item-sliding lines="none" style="padding: 0;">
          <ion-item lines="none" [button]="true" style="display: flex; width: 100%; padding-bottom: 4px; justify-content: space-between;"   (click)="openEditEvaluate(item)">
            <div class="">
              <h5 class="mg-0" style="margin: 9px 0;">{{ item?.name }}</h5>
              <span class="text-italic" style="font-size: 14px;">{{ getFullName(item.accountUserName) }}</span>
            </div>
            <div slot="end">
              <p class="mg-0" style="padding-left: 70px;">
                <ion-chip slot="end" color="primary">
                  {{ item.point ?? '0' }}

                </ion-chip>
              </p>
              <span class="text-italic" style="font-size: 14px;">{{ item.updateDate | date: 'HH:mm dd/MM/yyyy' }}</span>
            </div>
          </ion-item>
          <ion-item-options *ngIf="item.name == 'Bản nháp'" slot="end">
            <ion-item-option color="danger" expandable="true" (click)="remove(item.code)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-grid>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer *ngIf="checkRightEvaluate()">
  <ion-button (click)="navigateTo()" expand="full" style="width: 100%;font-weight: 700;">Chấm điểm</ion-button>
</ion-footer>


<!-- <ion-alert trigger="present-alert" header="Điểm của {{evaluate.header?.name}} sẽ bị mất"
  message="Bạn muốn tiếp tục chứ??" [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert> -->
<!-- <ion-alert trigger="present-alert" header="Điểm của {{ evaluate.header?.name }} sẽ bị mất"
  message="Bạn muốn tiếp tục chứ??" [buttons]="alertButtons" (didDismiss)="setResult($event)">
</ion-alert> -->
