<!-- <ion-accordion-group [multiple]="true" [value]="['first', 'third']">

  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>First Accordion</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content" style="padding: 5px 0;">

      <ion-accordion value="a">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>

      <ion-accordion value="b">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>

      <ion-accordion value="c">
        <ion-item slot="header" color="light">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>

    </div>
  </ion-accordion>

  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Second Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Second Content</div>
  </ion-accordion>

  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Third Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Third Content</div>
  </ion-accordion>

</ion-accordion-group> -->


<ion-accordion-group [multiple]="true">

  <ng-template #recursive let-nodes>
    <ng-container *ngFor="let node of nodes">
      <ion-accordion [value]="node.value">

        <ion-item slot="header" color="light">
          <ion-label>{{ node.label }}</ion-label>
        </ion-item>

        <div  style="padding: 5px 0;" slot="content">

          <ng-container *ngIf="node.children?.length > 0; else noChild">
            <ng-container *ngTemplateOutlet="recursive; context: { $implicit: node.children }"></ng-container>
          </ng-container>

          <ng-template #noChild>
            <p>Không có dữ liệu con</p>
          </ng-template>

        </div>
      </ion-accordion>
    </ng-container>
  </ng-template>

  <!-- Bắt đầu render từ gốc -->
  <ng-container *ngTemplateOutlet="recursive; context: { $implicit: treeData }"></ng-container>

</ion-accordion-group>
